[Desktop Entry]
Name=GIT-Proyects
Comment=
Categories=Scripts;
Exec=alacritty -e "/home/govi/Scripts/Shell/Utils/GIT_Proyects.sh"
Icon=/home/govi/Themes/GoVi/apps/64/proyects.png
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
