[Desktop Entry]
Name=GIT-Proyects
Comment=
Categories=Scripts;
Exec=sh -c /Scripts/Shell/Utils/GIT_Proyects.sh
Icon=proyects
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
