[Desktop Entry]
Name=GIT-Webgrab
Comment=
Categories=Scripts;
Exec=alacritty -e "/home/govi/Scripts/Shell/Utils/IT_Webgrab.sh"
Icon=/home/govi/Themes//GoVi/apps/64/WebGrab+Plus.ico
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
