[Desktop Entry]
Name=GIT-Kodi
Comment=
Categories=Scripts;
Exec=alacritty -e "/home/govi/Scripts/Shell/Utils/GIT_Kodi.sh"
Icon=/home/govi/Themes/GoVi/apps/64/Kodi.png
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
