[Desktop Entry]
Name=GIT-Webgrab
Comment=EPG Guide Grabber
Categories=Scripts;
Exec=sh -c ~/Scripts/Shell/Utils/GIT_Webgrab.sh
Icon=webgrab
StartupNotify=true
Terminal=true
Type=Application
