[Desktop Entry]
Name=GIT-Kodi
Comment=
Categories=Scripts;
Exec=sh -c ~/Scripts/Shell/Utils/GIT_Kodi.sh
Icon=Kodi
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
