[Desktop Entry]
Name=GIT-Home
Comment=
Categories=Scripts;
Exec=sh -c ~/Scripts/Shell/Utils/GIT_Home.sh
Icon=Confidential_documents
StartupNotify=true
Terminal=true
Type=Application
