[Desktop Entry]
Icon=text-plain
Name=.gitignore
Type=Link
URL[$e]=file:$HOME/Proyectos/Github/GoVi-Arch_Linux/.gitignore
X-KDE-LastOpenedWith=org.kde.kate
