[Desktop Entry]
Icon=text-plain
Name=.gpg-id
Type=Link
URL[$e]=file:///Media/[SaveData]/Linux/.password-store/.gpg-id
X-KDE-LastOpenedWith=org.kde.kate
