[Desktop Entry]
Icon=image-png
Name=256_colors_fg.png
Type=Link
URL[$e]=file:$HOME/Proyectos/Github/GoVi-Arch_Linux/Scripts/@Resources/256_colors_fg.png
X-KDE-LastOpenedWith=okularapplication_kimgio
