[Desktop Entry]
Icon=image-jpeg
Name=animals-background-10.jpg
Type=Link
URL[$e]=file:$HOME/Imágenes/Wallpapers/Animales/animals-background-10.jpg
X-KDE-LastOpenedWith=okularapplication_kimgio
