[Desktop Entry]
Icon=text-plain
Name=Arch_Install
Type=Link
URL[$e]=file:///Media/GoVi/Proyectos/Github/GoVi-Arch_Linux/Arch_Install
X-KDE-LastOpenedWith=org.kde.kate
