[Desktop Entry]
Icon=application-x-awk
Name=Arch_Howto
Type=Link
URL[$e]=file:$HOME/Proyectos/Github/GoVi-Arch_Linux/Arch_Howto
X-KDE-LastOpenedWith=org.kde.kate
