[Desktop Entry]
Icon=text-plain
Name=codex.cfg
Type=Link
URL[$e]=file:///Media/Games/PC/STAR WARS Jedi Fallen Order/SwGame/Binaries/Win64/codex.cfg
X-KDE-LastOpenedWith=org.kde.kate
