[Desktop Entry]
Icon=application-x-compressed-tar
Name=com.github.varlesh.arc-dark.tar.gz
Type=Link
URL[$e]=file:$HOME/Downloads/com.github.varlesh.arc-dark.tar.gz
X-KDE-LastOpenedWith=
