[Desktop Entry]
Icon=inode-directory
Name=DirectX
Type=Link
URL[$e]=file:$HOME/Scripts/Bash/Games/_Create_wine-pfx/Setups/DirectX
X-KDE-LastOpenedWith=
