[Desktop Entry]
Icon=application-xspf+xml
Name=Extremoduro -Top.xspf
Type=Link
URL[$e]=file:///Media/Multimedia/Música/-Playlist/Linux/Extremoduro -Top.xspf
X-KDE-LastOpenedWith=mpv
