[Desktop Entry]
Icon=application-vnd.apple.mpegurl
Name=Extremoduro -Top.m3u
Type=Link
URL[$e]=file:$HOME/Multimedia/Música/-Playlist/Linux/Extremoduro -Top.m3u
X-KDE-LastOpenedWith=vlc
