[Desktop Entry]
Icon=text-plain
Name=fdb01e46ab244932a0fa3beea0031142-0
Type=Link
URL[$e]=file:$HOME/.dbus/session-bus/fdb01e46ab244932a0fa3beea0031142-0
X-KDE-LastOpenedWith=org.kde.kate
