[Desktop Entry]
Icon=inode-directory
Name=GoVi_kde-Cursors
Type=Link
URL[$e]=file:$HOME/Pictures/GoVi-Theme/GoVi_kde/GoVi_kde-Cursors
X-KDE-LastOpenedWith=
