[Desktop Entry]
Icon=inode-directory
Name=GoVi_gtk-Cursors
Type=Link
URL[$e]=file:$HOME/Pictures/GoVi-Theme/GoVi_gtk/GoVi_gtk-Cursors
X-KDE-LastOpenedWith=
