[Desktop Entry]
Icon=application-vnd.apple.mpegurl
Name=Hip Hop - Electronic - Pop (2020).m3u
Type=Link
URL[$e]=file:$HOME/Multimedia/Música/-Playlist/Linux/Hip Hop - Electronic - Pop (2020).m3u
X-KDE-LastOpenedWith=vlc
