[Desktop Entry]
Icon=text-html
Name=index.php
Type=Link
URL[$e]=http://www.nosteam.ro/index.php?topic=9433.msg248036#msg248036
X-KDE-LastOpenedWith=firefox
