[Desktop Entry]
Icon=application-xml
Name=installerdata.xml
Type=Link
URL[$e]=file:///Media/Games/PC/STAR WARS Jedi Fallen Order/Wine/wine-pfx/drive_c/Games/Star Wars Jedi Fallen Order/__Installer/installerdata.xml
X-KDE-LastOpenedWith=org.kde.kate
