[Desktop Entry]
Icon=application-x-awk
Name=Launch-DarK_Souls_III.sh
Type=Link
URL[$e]=file:$HOME/Games/PC/Dark Souls III/Wine/Launch-DarK_Souls_III.sh
X-KDE-LastOpenedWith=org.kde.kate
