[Desktop Entry]
Icon=image-jpeg
Name=milky-way-night26832_49.jpg
Type=Link
URL[$e]=file:$HOME/Imágenes/Wallpapers/Universe/milky-way-night26832_49.jpg
X-KDE-LastOpenedWith=okularapplication_kimgio
