[Desktop Entry]
Icon=image-png
Name=preview.png
Type=Link
URL[$e]=file:$HOME/Downloads/com.github.varlesh.arc-dark/contents/previews/preview.png
X-KDE-LastOpenedWith=gimp
