[Desktop Entry]
Icon=image-svg+xml
Name=rectangle.svg
Type=Link
URL[$e]=file:$HOME/Downloads/com.github.varlesh.arc-dark/contents/splash/images/rectangle.svg
X-KDE-LastOpenedWith=org.inkscape.inkscape
