[Desktop Entry]
Icon=application-vnd.apple.mpegurl
Name=Rocket_League.m3u
Type=Link
URL[$e]=file:$HOME/Multimedia/Música/-Playlist/Linux/Rocket_League.m3u
X-KDE-LastOpenedWith=mpc-qt
