[Desktop Entry]
Icon=text-plain
Name=RPCS3rc
Type=Link
URL[$e]=file:///Media/GoVi/Proyectos/Github/GoVi-Arch_Linux/Dotfiles/.config/RPCS3rc
X-KDE-LastOpenedWith=org.kde.kate
