[Desktop Entry]
Icon=image-jpeg
Name=Space-Vortex-4K-Abstract-Wallpapers.jpg
Type=Link
URL[$e]=file:$HOME/Imágenes/Wallpapers/Universe/Space-Vortex-4K-Abstract-Wallpapers.jpg
X-KDE-LastOpenedWith=okularapplication_kimgio
