[Desktop Entry]
Icon=image-jpeg
Name=summer-ocean-wave-wallpaper-2_SAT.jpg
Type=Link
URL[$e]=file:$HOME/Imágenes/Wallpapers/Nature/summer-ocean-wave-wallpaper-2_SAT.jpg
X-KDE-LastOpenedWith=okularapplication_kimgio
