[Desktop Entry]
Icon=application-x-awk
Name=Teamviewer.sh
Type=Link
URL[$e]=file:$HOME/Scripts/Bash/Programs/Teamviewer.sh
X-KDE-LastOpenedWith=org.kde.kate
