[Desktop Entry]
Icon=image-jpeg
Name=THC_a2088.jpg
Type=Link
URL[$e]=file:$HOME/Imágenes/Wallpapers/Otros/THC_a2088.jpg
X-KDE-LastOpenedWith=okularapplication_kimgio
