[Desktop Entry]
Icon=text-plain
Name=Touchup.dat
Type=Link
URL[$e]=file:///Media/Games/PC/STAR WARS Jedi Fallen Order/Wine/wine-pfx/drive_c/Games/Star Wars Jedi Fallen Order/__Installer/Touchup.dat
X-KDE-LastOpenedWith=org.kde.kate
