[Desktop Entry]
Icon=image-jpeg
Name=wave-backgrounds_015603711.jpg
Type=Link
URL[$e]=file:$HOME/Imágenes/Wallpapers/Nature/wave-backgrounds_015603711.jpg
X-KDE-LastOpenedWith=okularapplication_kimgio
