[Desktop Entry]
Name=Language Selector
Exec=env WINEPREFIX="/home/govi/.wine" /usr/bin/wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/govi/.wine/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/No\\ Man\\'s\\ Sky\\ [GOG.com]/Tools/Language\\ Selector.lnk
Type=Application
StartupNotify=true
Comment=Language Selector
Path=/home/govi/.wine/dosdevices/c:/GOG Games/No Man's Sky/
Icon=921A_LanguageSetup.0
StartupWMClass=languagesetup.exe
