[Desktop Entry]
Name=Conky GoVi HUD
Exec=~/Scripts/Bash/conky_start.sh
InitialPreference=1
StartupNotify=false
Terminal=false
Type=Application
X-DBUS-StartupType=unique
X-KDE-StartupNotify=false
X-KDE-SubstituteUID=false

