[Desktop Entry]
Name=Polybar GoVi
Exec=~/Scripts/Bash/Polybar
InitialPreference=1
StartupNotify=false
Terminal=false
Type=Application
X-DBUS-StartupType=unique
X-KDE-StartupNotify=false
X-KDE-SubstituteUID=false

