[Desktop Entry]
Comment=
Exec=bash -c "~/Games/-Shortcuts-/DOOM_Eternal.sh"
Icon=/Media/Games/PC/Portable/DOOM Eternal/DOOM Eternal.ico
Name=DOOM Eternal
NoDisplay=true
Path[$e]=/home/Logs
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
