[Desktop Entry]
Comment=Launch the Epic Games Launcher
Exec=env WINEPREFIX="/home/govi/.wine" wine /usr/bin/wine /Unix /home/govi/.wine/dosdevices/c:/users/govi/Start\\ Menu/Programs/Epic\\ Games\\ Launcher.lnk
Icon=09BE_EpicGamesLauncher.0
Name=Epic Games Launcher
NoDisplay=true
Path=/home/govi/.wine/dosdevices/c:/Program Files (x86)/Epic Games/
StartupNotify=true
StartupWMClass=epicgameslauncher.exe
Type=Application
