[Desktop Entry]
Categories=Utility;X-SuSE-DesktopUtility;
Comment=Un dock para las masas
Exec=/home/govi/Scripts/Bash/Latte_Dock.sh
GenericName[es_ES]=Dock
GenericName=Dock
Icon=latte-dock
InitialPreference=1
Name[es_ES]=Latte
Name=Latte
NoDisplay=true
Path[$e]=
StartupNotify=false
StartupWMClass=latte-dock
Terminal=0
TerminalOptions=
Type=Application
X-DBUS-ServiceName=org.kde.lattedock
X-DBUS-StartupType=unique
X-KDE-PluginInfo-Author=Michail Vourlakos, Smith Ar
X-KDE-PluginInfo-Email=mvourlakos@gmail.com, audoban@openmailbox.org
X-KDE-PluginInfo-Version=0.9.11
X-KDE-PluginInfo-Website=https://userbase.kde.org/LatteDock
X-KDE-StartupNotify=false
X-KDE-SubstituteUID=false
X-KDE-Username=
X-KDE-Wayland-Interfaces=org_kde_plasma_window_management,org_kde_kwin_keystate
X-KDE-autostart-phase=1
