[Desktop Entry]
Comment=
Exec=bash -c "~/Games/-Shortcuts-/SOTTR.sh"
Icon=/Media/Games/PC/Portable/Shadow of the Tomb Raider - Definitive Edition/SOTTR.ico
Name=Shadow of the Tomb Raider - The Path Home
NoDisplay=true
Path[$e]=/home/Logs
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
