[Desktop Entry]
Comment=
Exec=bash -c ~/Scripts/Bash/Games/Stranded_Deep.sh
Icon=/home/govi/Games/-Library-/PC/Portable/Stranded Deep/ico.ico
Name=Stranded Deep
NoDisplay=true
Path[$e]=/home/Logs
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
