[Desktop Entry]
Name=The Medium
Exec=env WINEPREFIX="/home/govi/.wine" /usr/bin/wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/govi/.wine/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/GOG.com/The\\ Medium/The\\ Medium.lnk
Type=Application
StartupNotify=true
Path=/home/govi/.wine/dosdevices/z:/Media/Games/PC/Medium
Icon=7BB5_goggame-1260828108.0
StartupWMClass=medium.exe
