[Desktop Entry]
Categories=Graphics;
Comment=
Exec="/home/govi/Programs/Adobe/Wine/Launch-Substance_Painter.sh"
GenericName=Substance Painter
Icon="/home/govi/Multimedia/Pictures/Icons/Themes/GoVi/apps/64/Adobe_Substance_3D_Painter.png"
MimeType=
Name=Substance Painter
NoDisplay=false
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application

