[Desktop Entry]
Name=Adobe Substance 3D Painter
Categories=Graphics;
Icon=/home/govi/Multimedia/Pictures/Icons/Themes/GoVi/apps/64/Adobe_Substance_3D_Painter.png
Exec="/home/govi/Programs/Adobe/Wine/Launch-Substance_Painter.sh"
MimeType=image/spp;application/x-hdf;
NoDisplay=false
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application
Comment=
