[Desktop Entry]
Name=Adobe Photoshop
Categories=Graphics;
Icon=/home/govi/Themes/GoVi/apps/64/Adobe_Photoshop_2021.png
Exec="/home/govi/Programs/Adobe/Wine/Launch-Photoshop_19.sh"
MimeType=image/psd;image/vnd.adobe.photoshop;
NoDisplay=false
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application
Comment=
