[Desktop Entry]
Name=Android Studio
Exec=/home/govi/.android/android-studio/bin/studio.sh
Icon=/home/govi/.android/android-studio/bin/studio.png
Categories=Development;


