[Desktop Entry]
Encoding=UTF-8
Name=bash
Exec=/usr/bin/bash
MimeType=application/x-desktop
Icon=/home/govi/Multimedia/Pictures/Icons/Themes/GoVi/apps/64/script.svg
NoDisplay=true
