[Desktop Entry]
Categories=Network;
Comment=Remote control and meeting solution.
Encoding=UTF-8
Exec=/home/govi/Scripts/Bash/Programs/Teamviewer.sh
Icon=TeamViewer
Name=TeamViewer
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
