[Desktop Entry]
Comment=
Exec=bash -c ~/Scripts/Bash/Games/Launchers/GOG.sh
Icon=/home/govi/Imágenes/Icons/Games/Png/GOG.png
Name=GOG
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
