[Desktop Entry]
Name=Home GIT
Comment=
Categories=Scripts;
Exec=alacritty -e "/home/govi/Scripts/Shell/Utils/Home_GIT.sh"
Icon=/home/govi/Multimedia/Pictures/Icons/System/Png/Confidential_documents.png
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
