[Desktop Entry]
Comment=
Exec=~/Scripts/Bash/Utils/Home_GIT.sh
Icon=/home/govi/Multimedia/Images/Icons/System/Png/Confidential_documents.png
Name=Home GIT
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
