[Desktop Entry]
Categories=Application;Network;
Exec=~/Scripts/Shell/Programs/JDownloader.sh
Icon=jdownloader
MimeType=
Name[es_ES]=JDownloader
Name=JDownloader
NoDisplay=false
StartupNotify=true
StartupWMClass=jd-Main
Terminal=0
TerminalOptions=
TryExec=JDownloader
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Comment=
