[Desktop Entry]
Categories=Application;Network;
Comment[es_ES]=
Comment=
Exec=~/Scripts/Bash/Programs/JDownloader.sh
GenericName[es_ES]=
GenericName=
Icon=jdownloader
MimeType=
Name[es_ES]=JDownloader
Name=JDownloader
NoDisplay=false
Path[$e]=
StartupNotify=true
StartupWMClass=jd-Main
Terminal=0
TerminalOptions=
TryExec=JDownloader
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
