[Desktop Entry]
Comment=
Exec=~/Scripts/Bash/Utils/Kodi_GIT.sh
Icon=/home/govi/Images/Icons/Programs/png/Kodi.png
Name=Kodi GIT
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
