[Desktop Entry]
Encoding=UTF-8
Name=Launch-Photoshop.sh
Exec=/home/govi/Programs/Adobe/Wine/Launch-Photoshop.sh
MimeType=image/vnd.adobe.photoshop
Icon=exec
NoDisplay=true
