[Desktop Entry]
Type=Application
Exec=bash -c 'kill -9 -1'
Icon=/home/govi/Pictures/Icons/System/Png/Button-exit.png
Terminal=false
Name=Logout
Categories=System;
