[Desktop Entry]
Comment=
Exec=nvidia-settings
Icon=/usr/share/pixmaps/nvidia-settings.png
Name=Nvidia Settings
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
