[Desktop Entry]
Name=Pass
Categories=Utilities;
Icon=/home/govi/Themes/GoVi/apps/64/pass.png
Exec=sh -c ~/Scripts/Shell/Utils/Pass.sh
MimeType=application/pgp-encrypted;
NoDisplay=false
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Comment=
