[Desktop Entry]
Categories=Graphics;
Comment=
Exec=/home/govi/Scripts/Bash/Programs/Photoshop_2021.sh
GenericName=
Icon=/home/govi/Pictures/GoVi-Theme/GoVi_gtk-Icons/apps/64/photoshop_2021.png
MimeType=
Name=Adobe Photoshop
NoDisplay=false
Path[$e]=/Windows/Portables/Adobe/Adobe Photoshop 2020
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
