[Desktop Entry]
Categories=Graphics;
Comment=
Exec=/home/govi/Programs/Adobe/Wine/Launch-Photoshop.sh
GenericName=
Icon=/home/govi/Multimedia/Pictures/Icons/Themes/GoVi/apps/64/photoshop_2020.svg
MimeType=
Name=Photoshop
NoDisplay=false
Path[$e]=/Windows/Portables/Adobe/Adobe Photoshop 2020
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
