[Desktop Entry]
Categories=Graphics;
Comment=
Exec=/home/govi/Programs/Adobe/Wine/Launch-Photoshop_19.sh
GenericName=
Icon=/home/govi/Multimedia/Pictures/Icons/Themes/GoVi/apps/64/photoshop_2021.png
MimeType=
Name=Photoshop
NoDisplay=false
Path[$e]=/Windows/Portables/Adobe/Photoshop_2021
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application

