[Desktop Entry]
Comment=
Exec=/home/govi/Scripts/Bash/Polybar/launch.sh
Icon=/home/govi/Themes/GoVi/apps/64/polybar1.png
Name=Polybar
NoDisplay=false
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
