[Desktop Entry]
Categories=Development;IDE;
Comment[es_ES]=Python IDE for Professional Developers
Comment=Python IDE for Professional Developers
Exec=/home/govi/Programs/Pycharm/bin/pycharm.sh
MimeType=
GenericName[es_ES]=
GenericName=
Icon=~/Programs/Pycharm/bin/pycharm.sh
MimeType=
Name[es_ES]=PyCharm Community Edition
Name=PyCharm Community Edition
Path=
StartupNotify=true
StartupWMClass=jetbrains-pycharm-ce
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
