[Desktop Entry]
Encoding=UTF-8
Name=Pycharm
Exec=/home/govi/Programs/Pycharm/bin/pycharm.sh
MimeType=application/x-desktop
Icon=pycharm
NoDisplay=true
