[Desktop Entry]
Name=Restart
Categories=Utilities;
Icon=/home/govi/Themes/GoVi/panel/system-restart-panel.svg
Exec=sh -c 'reboot'
MimeType=application/x-desktop
NoDisplay=false
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Comment=
