[Desktop Entry]
Comment=
Exec="/home/govi/Scripts/Shell/Utils/System_Clean.sh"
Icon=/home/govi/Multimedia/Pictures/Icons/System/Png/clean.png
Name=System Clean
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
