[Desktop Entry]
Comment=
Exec=~/Scripts/Bash/Utils/System_Clean.sh
Icon=/home/govi/Imágenes/Icons/System/Png/clean.png
Name=System Clean
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
