[Desktop Entry]
Encoding=UTF-8
Name=Unreal engine
Exec="/Media/Games/PC/.DEV/UE5/Engine/Binaries/Linux/./UnrealEditor" -EpicPortal
MimeType=application/x-desktop
Icon=ubinary
NoDisplay=true
Categories=Development;
