[Desktop Entry]
Type=Application
Name=wordpad
MimeType=application/x-mswrite;
Exec=env WINEPREFIX="/Media/GoVi/Downloads/Valheim/Wine/wine-pfx" /usr/bin/wine start /ProgIDOpen wrifile %f
NoDisplay=true
StartupNotify=true
Icon=97C1_wordpad.0
