[Desktop Entry]
Comment=
Exec=winecfg
Icon=7765_winebrowser.0
Name=Winecfg
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
