[Desktop Entry]
Type=Application
Name=Wine Internet Explorer
MimeType=application/xslt+xml;
Exec=env WINEPREFIX="/home/govi/Wine/Scripts/_Create_wine-pfx/wine-pfx" /usr/bin/wine start /ProgIDOpen xslfile %f
NoDisplay=true
StartupNotify=true
Icon=7596_iexplore.0
