[Desktop Entry]
Type=Application
Name=wscript
MimeType=application/x-wine-extension-vbs;
Exec=env WINEPREFIX="/Media/Games/PC/Assassins Creed Valhalla/Wine/wine-pfx" /usr/bin/wine start /ProgIDOpen VBSFile %f
NoDisplay=true
StartupNotify=true
Icon=B13E_wscript.0
