[Desktop Entry]
Type=Application
Name=Adobe Photoshop CC 2019
MimeType=image/vnd.adobe.photoshop;
Exec=env WINEPREFIX="/home/govi/Programs/Adobe/Wine/wine-pfx" wine start /ProgIDOpen Photoshop.Image.20 %f
NoDisplay=true
StartupNotify=true
Icon=0B5E_Photoshop.0
