[Desktop Entry]
Type=Application
Name=winebrowser
MimeType=application/x-extension-html;
Exec=env WINEPREFIX="/home/govi/Scripts/Shell/Games/_Create_wine-pfx/wine-pfx" wine start /ProgIDOpen htmlfile %f
NoDisplay=true
StartupNotify=true
Icon=81F5_winebrowser.0
