[Desktop Entry]
Type=Application
Name=winebrowser
MimeType=application/x-extension-html;
Exec=env WINEPREFIX="/Media/GoVi/Downloads/Valheim/Wine/wine-pfx" /usr/bin/wine start /ProgIDOpen htmlfile %f
NoDisplay=true
StartupNotify=true
Icon=7765_winebrowser.0
