[Desktop Entry]
Type=Application
Name=Wine Internet Explorer
MimeType=application/xslt+xml;
Exec=env WINEPREFIX="/home/govi/.WineApps/Adobe-Photoshop" wine start /ProgIDOpen xslfile %f
NoDisplay=true
StartupNotify=true
Icon=ECB7_iexplore.0
