[Desktop Entry]
Type=Application
Name=wordpad
MimeType=application/x-mswrite;
Exec=env WINEPREFIX="/home/govi/Programs/Kodi/Wine/wine-pfx" wine start /ProgIDOpen wrifile %f
NoDisplay=true
StartupNotify=true
Icon=3365_wordpad.0
