[Desktop Entry]
Type=Application
Name=wscript
MimeType=application/x-wine-extension-vbs;
Exec=env WINEPREFIX="/home/govi/Programs/Adobe/Wine/wine-pfx/" /home/ubuntu/buildbot/runners/wine/lutris-ge-6.16-1-x86_64/bin/wine start /ProgIDOpen VBSFile %f
NoDisplay=true
StartupNotify=true
Icon=B13E_wscript.0
