[Desktop Entry]
Type=Application
Name=notepad
MimeType=application/x-wine-extension-ini;
Exec=env WINEPREFIX="/Media/GoVi/Downloads/Valheim/Wine/wine-pfx" /usr/bin/wine start /ProgIDOpen inifile %f
NoDisplay=true
StartupNotify=true
Icon=1E64_notepad.0
