[Desktop Entry]
Type=Application
Name=Windows Presentation Foundation Host
MimeType=application/x-ms-xbap;
Exec=env WINEPREFIX="/home/govi/.wine" /usr/bin/wine start /ProgIDOpen Windows.Xbap %f
NoDisplay=true
StartupNotify=true
Icon=00EF_PresentationHost.0
