[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm Community Edition
Icon=/home/govi/Programas/pycharm-community-2020.1.1/bin/pycharm.svg
Exec="/home/govi/Programas/pycharm-community-2020.1.1/bin/pycharm.sh" %f
Comment=Python IDE for Professional Developers
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-pycharm-ce
OnlyShowIn=Old;
