[Desktop Entry]
Name=LDUninstaller4
Exec=env WINEPREFIX="/home/govi/Programs/Nox/Wine/wine-pfx" /usr/bin/wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/govi/Programs/Nox/Wine/wine-pfx/dosdevices/c:/users/govi/AppData/Roaming/Microsoft/Windows/Start\\ Menu/Programs/LDPlayer4/LDUninstaller4.lnk
Type=Application
StartupNotify=true
Path=/home/govi/Programs/Nox/Wine/wine-pfx/dosdevices/c:/LDPlayer/LDPlayer4.0/
Icon=E2A9_dnuninst.0
StartupWMClass=dnuninst.exe
