[Desktop Entry]
Name=Nox
Exec=env WINEPREFIX="/home/govi/.wine" wine C:\\\\users\\\\govi\\\\AppData\\\\Roaming\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Nox\\\\Nox.lnk
Type=Application
StartupNotify=true
Icon=F8BF_Nox.0
StartupWMClass=nox.exe
