[ContrastEffect]
contrast=0.2
enabled=true
saturation=1.7

[Desktop Entry]
Comment=GoVi Plasma Desktop Theme
Name=GoVi-Pl
X-KDE-PluginInfo-Author=GoVi
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-Name=GoVi-Pl
X-KDE-PluginInfo-Version=5.70.3
X-KDE-PluginInfo-Website=https://plasma.kde.org
X-Plasma-API=5.0

[Wallpaper]
defaultFileSuffix=.png
defaultHeight=1080
defaultWallpaperTheme=Next
defaultWidth=1920
