[Desktop Entry]
Exec=env WINEPREFIX="/home/govi/.wine" wine /usr/bin/wine /Unix /home/govi/.wine/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/Ori\\ and\\ the\\ Will\\ of\\ the\\ Wisps/==\\ ElAmigos\\ Releases\\ and\\ Updates\\ @\\ pastebin\\ ==.lnk
Icon=05E2__ElAmigos Releases and Updates.0
Name=== ElAmigos Releases and Updates @ pastebin ==
NoDisplay=true
Path=/home/govi/.wine/dosdevices/m:/Games/PC/_Portable/Ori and the Will of the Wisps
StartupNotify=true
Type=Application
