[Desktop Entry]
Comment[es_ES]=
Comment=
Exec=bash -c ~/Scripts/Bash/Games/Among_Trees.sh
GenericName[es_ES]=
GenericName=
Icon=/home/govi/Games/-Library-/PC/Portable/AmongTrees/AT.ico
MimeType=
Name[es_ES]=Among Trees
Name=Among Trees
NoDisplay=true
Path[$e]=/home/Logs
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
