[Desktop Entry]
Exec=env WINEPREFIX="/home/govi/.wine" wine /usr/bin/wine /Unix /home/govi/.wine/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/Ori\\ and\\ the\\ Will\\ of\\ the\\ Wisps/Desinstalar\\ Ori\\ and\\ the\\ Will\\ of\\ the\\ Wisps.lnk
Icon=27A8_unins000.0
Name=Desinstalar Ori and the Will of the Wisps
NoDisplay=true
Path=/home/govi/.wine/dosdevices/m:/Games/PC/_Portable/Ori and the Will of the Wisps
StartupNotify=true
StartupWMClass=unins000.exe
Type=Application
