[Desktop Entry]
Categories=Graphics;2DGraphics;RasterGraphics;GTK;
Comment[es_ES]=Cree imágenes y edite fotografías
Comment=Cree imágenes y edite fotografías
Exec=gimp-2.10 %U
GenericName[es_ES]=Editor de imagen
GenericName=Editor de imagen
Icon=gimp
Keywords[es_ES]=GIMP;gráfico;diseño;ilustración;dibujo;
Keywords=GIMP;graphic;design;illustration;painting;
MimeType=image/x-xwindowdump;image/x-xpixmap;image/x-xcursor;image/x-xcf;image/x-xbitmap;image/x-tga;image/x-sgi;image/x-portable-pixmap;image/x-portable-graymap;image/x-portable-bitmap;image/x-portable-anymap;image/x-gimp-pat;image/x-gimp-gih;image/x-gimp-gbr;image/x-exr;image/x-compressed-xcf;image/wmf;image/vnd.zbrush.pcx;image/vnd.microsoft.icon;image/vnd.adobe.photoshop;image/tiff;image/svg+xml;image/png;image/jpeg;image/jp2;image/heif;image/heif;image/gif;image/g3fax;image/fits;image/bmp;application/postscript;application/pdf;
Name[es_ES]=GIMP
Name=GIMP
NoDisplay=true
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=gimp-2.10
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-OtherBinaries=gimp-2.10
X-GNOME-Bugzilla-Product=GIMP
X-GNOME-Bugzilla-Version=2.10.8
X-KDE-SubstituteUID=false
X-KDE-Username=
