[Desktop Entry]
Categories=Development;IDE;
Comment=Python IDE for Professional Developers
Exec="/home/govi/Programas/pycharm-community-2020.1.1/bin/pycharm.sh" %f
Icon=/home/govi/Programas/pycharm-community-2020.1.1/bin/pycharm.svg
Name=PyCharm Community Edition
NoDisplay=true
StartupWMClass=jetbrains-pycharm-ce
Terminal=false
Type=Application
Version=1.0
