[Desktop Entry]
Comment=
Exec=latte-dock &
Icon=latte-dock
Name=Latte-Dock
NoDisplay=true
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
