[Desktop Entry]
Categories=Utility;Accessibility;
Comment[es_ES]=Teclado en pantalla flexible
Comment=Flexible onscreen keyboard
Exec=onboard
GenericName[es_ES]=Teclado en pantalla Onboard
GenericName=Onboard onscreen keyboard
Icon=onboard
MimeType=application/x-onboard;
Name[es_ES]=Onboard
Name=Onboard
Terminal=false
Type=Application
X-Ubuntu-Gettext-Domain=onboard
