[Desktop Entry]
Categories=Qt;KDE;Utility;TextEditor;
Comment[es_ES]=Editor de texto avanzado de KDE
Comment=KDE Advanced Text Editor
Exec=kate -b %U
GenericName[es_ES]=Editor de texto avanzado
GenericName=Advanced Text Editor
Icon=kate
InitialPreference=9
MimeType=text/plain;
Name[es_ES]=Kate
Name=Kate
StartupNotify=true
Terminal=false
Type=Application
X-DBUS-ServiceName=org.kde.kate
X-DBUS-StartupType=Multi
X-DocPath=kate/index.html
X-KDE-HasTempFileOption=true
