[Desktop Entry]
Categories=Game;Emulator;
Comment=Frontend for emulators, game engines and media players
Exec=retroarch
GenericName=Frontend for the libretro API
Icon=retroarch
Keywords=multi;engine;emulator;xmb;
Name=RetroArch
NoDisplay=false
Path[$e]=/usr/bin/retroarch
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
