[Desktop Entry]
Comment=
Exec=bash -c ~/Scripts/Bash/Games/Sekiro.sh
Icon=/home/govi/Games/-Library-/PC/Portable/Sekiro - Shadows Die Twice/sekiro.png
Name=Sekiro - Shadows Die Twice
NoDisplay=true
Path[$e]=/home/Logs
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
