[Desktop Action Fullscreen]
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=kodi tv.kodi.Kodi -fs
Name=Open in fullscreen

[Desktop Action Standalone]
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=kodi tv.kodi.Kodi --standalone
Name=Open in standalone mode

[Desktop Entry]
Actions=Fullscreen;Standalone;
Categories=AudioVideo;Video;Player;TV;
Comment=Manage and view your media
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=kodi tv.kodi.Kodi
GenericName=Media Center
Icon=tv.kodi.Kodi
Name=Kodi
NoDisplay=true
Terminal=false
Type=Application
Version=1.0
X-Flatpak=tv.kodi.Kodi
X-Flatpak-RenamedFrom=kodi.desktop;
