[Desktop Entry]
Comment[es_ES]=
Comment=
Exec=sh ~/Games/Wine/winetricks/winetricks
GenericName[es_ES]=
GenericName=
Icon=/home/govi/.local/share/icons/GoVi-Ic/apps/64/winetricks.png
MimeType=
Name[es_ES]=Winetricks
Name=Winetricks
NoDisplay=true
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
