[Desktop Entry]
Comment=
Exec=bash -c /home/govi/Scripts/Bash/Games/Emulators/Cemu/Zelda_BOTW.sh
Icon=/home/govi/Games/-Library-/Nintendo/Wii U/The Legend of Zelda Breath of the Wild/Zelda BOTW.png
Name=Zelda BOTW
NoDisplay=true
Path[$e]=$HOME/Games/PC/Emulators/Cemu
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
