[Desktop Entry]
Categories=Game;
Comment=Wii U emulator
Encoding=UTF-8
Exec=/usr/bin/cemu
Icon=/usr/share/pixmaps/cemu.xpm
Name=Cemu
NoDisplay=true
StartupNotify=true
StartupWMClass=cemu.exe
Terminal=false
Type=Application
Version=1.19.1b
