[Desktop Entry]
Comment=
Exec=~/Scripts/Bash/Utils/Clean_System.sh
Icon=/home/govi/Imágenes/Icons/System/Png/clean.png
Name=Clean System
NoDisplay=true
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
