[Desktop Entry]
Categories=Application;Accessibility;
Comment=Florence Virtual Keyboard
Encoding=UTF-8
Exec=florence
Icon=/usr/share/pixmaps/florence.svg
Name=Florence Virtual Keyboard
NoDisplay=true
Terminal=false
Type=Application
