[Desktop Entry]
Comment=
Exec=~/Scripts/Bash/Utils/Kodi_GIT.sh
Icon=kodi
Name=Kodi Backup
NoDisplay=true
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
