[Desktop Entry]
Comment=
Exec=bash -c ~/Scripts/Bash/Games/NMS.sh
Icon=/home/govi/Games/-Library-/PC/Portable/No Man's Sky/Binaries/NMS.ico
Name=No Man's Sky
NoDisplay=true
Path[$e]=/home/Logs
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
