[Desktop Entry]
Comment=
Exec=bash -c ~/Scripts/Bash/Games/Ori_WOTW.sh
Icon=/home/govi/Games/-Library-/PC/Portable/Ori and the Will of the Wisps/Ori and the Will of the Wisps.ico
Name=Ori and the Will of the Wisps
NoDisplay=true
Path[$e]=/home/Logs
StartupNotify=true
Terminal=0
TerminalOptions=
X-KDE-SubstituteUID=false
X-KDE-Username=
