[Desktop Entry]
Categories=Audio;Music;Player;AudioVideo;
Exec=spotify %U
GenericName=Music Player
Icon=spotify-client
MimeType=x-scheme-handler/spotify;
Name=Spotify
NoDisplay=true
StartupWMClass=spotify
Terminal=false
TryExec=spotify
Type=Application
