[Desktop Entry]
Exec=env WINEPREFIX="/home/govi/.wine" wine /usr/bin/wine /Unix /home/govi/.wine/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/Green\\ Hell/Uninstall\\ Green\\ Hell.lnk
Icon=E7C0_unins000.0
Name=Uninstall Green Hell
NoDisplay=true
Path=/home/govi/.wine/dosdevices/m:/Games/PC/_Portable/Green Hell 1.5
StartupNotify=true
StartupWMClass=unins000.exe
Type=Application
