[Desktop Entry]
Categories=THC;Utility;
Comment[es_ES]=
Comment=
Exec=/home/govi/Scripts/Bash/Webgrab_Update_to_GIT.sh
GenericName[es_ES]=
GenericName=
Icon=/home/govi/Scripts/@Resources/WebGrab+Plus.ico
MimeType=
Name[es_ES]=Webgrab to GIT
Name=Webgrab to GIT
NoDisplay=true
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
