[Desktop Entry]
Comment=
Exec=bash -c  ~/Scripts/Bash/Games/Emulators/Emulation_Station.sh
Icon=/home/govi/Multimedia/Pictures/Icons/Themes/GoVi/apps/64/emulationstation-logo.png
Name=Emulation Station
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
