[Desktop Entry]
Categories=Game;
Comment=
Exec='/Datos/Games/PC/-Launchers/Epic Games/Wine/Launch_Epic_Games.sh'
Icon=/home/govi/Multimedia/Pictures/Icons/Themes/GoVi/apps/64/epicgames.png
Name=Epic Games
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
