[Desktop Entry]
Name=Games Backup
Comment=
Categories=Game;Scripts;
Keywords=gaming;wine;emulator;
Exec=alacritty -e "/home/govi/Scripts/Shell/Games/Games_Backup.sh"
Icon=/home/govi/Multimedia/Pictures/Icons/System/Png/Confidential_documents.png
Terminal=true
Type=Application
MimeType=
