[Desktop Entry]
Version=1.0
Type=Application
Name=UABE
GenericName=UABE
Comment="Unity Assets Bundle Extractor"
Keywords=
Exec="$HOME/Scripts/Shell/Programs/UABE.sh"
Icon=/home/govi/Multimedia/Pictures/Icons/Themes/GoVi/apps/64/unity.png
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;GTK;
StartupNotify=true
MimeTypeassets=
