[Desktop Entry]
Categories=Game;
Comment=Uplay
Exec=~/Scripts/Shell/Games/Launchers/Uplay.sh
GenericName[es_ES]=
GenericName=
Icon=lutris_uplay
MimeType=
Name[es_ES]=Uplay
Name=Uplay
NoDisplay=false
Path[$e]=/Datos/Games/Ubisoft
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
