[Desktop Entry]
Name=No Man's Sky (OpenVR)
Exec=env WINEPREFIX="/home/govi/.wine" /usr/bin/wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/govi/.wine/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/No\\ Man\\'s\\ Sky\\ [GOG.com]/No\\ Man\\'s\\ Sky\\ \\(OpenVR\\).lnk
Type=Application
StartupNotify=true
Comment=No Man's Sky (OpenVR)
Path=/home/govi/.wine/dosdevices/z:/Media/Games/PC/No Man's Sky/Binaries
Icon=2705_NMS.0
StartupWMClass=nms.exe
