[Desktop Entry]
Name=Uninstall No Man's Sky
Exec=env WINEPREFIX="/home/govi/.wine" /usr/bin/wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/govi/.wine/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/No\\ Man\\'s\\ Sky\\ [GOG.com]/Uninstall\\ No\\ Man\\'s\\ Sky.lnk
Type=Application
StartupNotify=true
Path=/home/govi/.wine/dosdevices/z:/Media/Games/PC/No Man's Sky
Icon=797D_unins000.0
StartupWMClass=unins000.exe
