[Desktop Entry]
Icon=application-rtf
Name=69 9977 5500.rtf
Type=Link
URL[$e]=file:$HOME/Documentos/.GoVi-Docs/69 9977 5500.rtf
X-KDE-LastOpenedWith=org.kde.kate
