[Desktop Entry]
Icon=application-x-yaml
Name=alacritty.yml
Type=Link
URL[$e]=file:$HOME/.config/alacritty/alacritty.yml
X-KDE-LastOpenedWith=org.kde.kate
