[Desktop Entry]
Icon=text-plain
Name=Arch_Gaming.txt
Type=Link
URL[$e]=file:$HOME/Proyectos/Github/GoVi-Arch_Linux/Arch_Gaming.txt
X-KDE-LastOpenedWith=org.kde.kate
