[Desktop Entry]
Icon=text-plain
Name=Discord.txt
Type=Link
URL[$e]=file:///Media/GoVi/Documentos/.GoVi-Docs/Social/Discord.txt
X-KDE-LastOpenedWith=org.kde.kate
