[Desktop Entry]
Icon=application-zip
Name=GoVi-Docs.zip
Type=Link
URL[$e]=file:$HOME/Documentos/.GoVi-Docs/GoVi-Docs.zip
X-KDE-LastOpenedWith=org.kde.ark
