[Desktop Entry]
Icon=inode-directory
Name=GoVi-Arch_Linux
Type=Link
URL[$e]=file:$HOME/Escritorio/GoVi-Arch_Linux
X-KDE-LastOpenedWith=org.kde.dolphin
