[Desktop Entry]
Icon=application-x-awk
Name=Home_GIT.sh
Type=Link
URL[$e]=file:$HOME/Scripts/Bash/Utils/Home_GIT.sh
X-KDE-LastOpenedWith=org.kde.kate
