[Desktop Entry]
Icon=/home/govi/Multimedia/Imágenes/Icons/System/Png/Confidential_documents.png
Name=Home GIT.desktop
Type=Link
URL[$e]=file:$HOME/.local/share/applications/Home GIT.desktop
X-KDE-LastOpenedWith=org.kde.kate
