[Desktop Entry]
Icon=/home/govi/Imágenes/Icons/Programs/png/Kodi.png
Name=Kodi GIT.desktop
Type=Link
URL[$e]=file:$HOME/.local/share/applications/Kodi GIT.desktop
X-KDE-LastOpenedWith=org.kde.kate
