[Desktop Entry]
Icon=text-plain
Name=paypalFlor
Type=Link
URL[$e]=file:///Media/GoVi/Documentos/.GoVi-Docs/Tiendas/paypalFlor
X-KDE-LastOpenedWith=org.kde.kate
