[Desktop Entry]
Icon=/home/govi/Imágenes/Icons/System/Png/clean.png
Name=System Clean.desktop
Type=Link
URL[$e]=file:$HOME/.local/share/applications/System Clean.desktop
X-KDE-LastOpenedWith=org.kde.kate
