[Desktop Entry]
Name=STAR WARS Battlefront II
Exec=env WINEPREFIX="/Datos/Games/PC/-Launchers/Origin/-Library/STAR WARS Battlefront II/Wine/wine-pfx" /usr/bin/wine C:\\\\windows\\\\command\\\\start.exe /Unix /Datos/Games/PC/-Launchers/Origin/-Library/STAR\\ WARS\\ Battlefront\\ II/Wine/wine-pfx/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/STAR\\ WARS\\ Battlefront\\ II/STAR\\ WARS\\ Battlefront\\ II.lnk
Type=Application
StartupNotify=true
Path=/Datos/Games/PC/-Launchers/Origin/-Library/STAR WARS Battlefront II/Wine/wine-pfx/dosdevices/d:/Games/PC/-Launchers/Origin/-Library/STAR WARS Battlefront II
Icon=0EA9_starwarsbattlefrontii.0
StartupWMClass=starwarsbattlefrontii.exe
