[Desktop Entry]
Icon=application-x-awk
Name=-Launch_Game.sh
Type=Link
URL[$e]=file:$HOME/Scripts/Bash/Games/-Launch_Game.sh
X-KDE-LastOpenedWith=pycharm
