[Desktop Entry]
Icon=application-x-awk
Name=Bethesda.sh
Type=Link
URL[$e]=file:$HOME/Scripts/Bash/Games/Launchers/Bethesda.sh
X-KDE-LastOpenedWith=org.kde.kate
