[Desktop Entry]
Icon=text-plain
Name=check_entries
Type=Link
URL[$e]=file:$HOME/.config/polybar/scripts/Logs/Games/check_entries
X-KDE-LastOpenedWith=org.kde.kate
