[Desktop Entry]
Icon=text-plain
Name=check_entries_games
Type=Link
URL[$e]=file:$HOME/Scripts/Bash/Polybar/Logs/Games/check_entries_games
X-KDE-LastOpenedWith=org.kde.kate
