[Desktop Entry]
Icon=application-x-awk
Name=Create-wine-pfx.sh
Type=Link
URL[$e]=file:$HOME/Wine/Scripts/_Create_wine-pfx/Create-wine-pfx.sh
X-KDE-LastOpenedWith=pycharm
