[Desktop Entry]
Icon=text-plain
Name=dxvk.conf
Type=Link
URL[$e]=file:///Media/Games/PC/STAR WARS Jedi Fallen Order/dxvk.conf
X-KDE-LastOpenedWith=org.kde.kate
