[Desktop Entry]
Icon=image-jpeg
Name=Dyson Sphere Program-banner.jpg
Type=Link
URL[$e]=file:$HOME/Games/PC/Dyson Sphere Program/Dyson Sphere Program-banner.jpg
X-KDE-LastOpenedWith=photoshop
