[Desktop Entry]
Icon=application-x-awk
Name=Epic_Games.sh
Type=Link
URL[$e]=file:$HOME/Scripts/Bash/Games/Launchers/Epic_Games.sh
X-KDE-LastOpenedWith=org.kde.kate
