[Desktop Entry]
Icon=application-x-awk
Name=GOG.sh
Type=Link
URL[$e]=file:$HOME/Scripts/Bash/Games/Launchers/GOG.sh
X-KDE-LastOpenedWith=org.kde.kate
