[Desktop Entry]
Icon=application-x-awk
Name=Install-Launch-Epic_Games.sh
Type=Link
URL[$e]=file:$HOME/Wine/Scripts/_Create_wine-pfx/Setups/Install-Launch-Epic_Games.sh
X-KDE-LastOpenedWith=pycharm
