[Desktop Entry]
Icon=application-x-awk
Name=Launch-STAR_WARS_Battlefront_II.sh
Type=Link
URL[$e]=file:///Datos/Games/PC/-Launchers/Origin/-Library/STAR WARS Battlefront II/Wine/Launch-STAR_WARS_Battlefront_II.sh
X-KDE-LastOpenedWith=alacritty
