[Desktop Entry]
Icon=application-x-awk
Name=Launch-Uplay.sh
Type=Link
URL[$e]=file:///Datos/Games/PC/-Launchers/Ubisoft/Wine/Launch-Uplay.sh
X-KDE-LastOpenedWith=org.kde.kate
