[Desktop Entry]
Icon=application-x-awk
Name=Launch-Game_Template.sh
Type=Link
URL[$e]=file:$HOME/Wine/Scripts/Launch-Game_Template.sh
X-KDE-LastOpenedWith=pycharm
