[Desktop Entry]
Icon=application-x-awk
Name=Launch-STAR_WARS_Jedi_Fallen_Order.sh
Type=Link
URL[$e]=file:$HOME/Games/PC/STAR WARS Jedi Fallen Order/Wine/Launch-STAR_WARS_Jedi_Fallen_Order.sh
X-KDE-LastOpenedWith=pycharm
