[Desktop Entry]
Icon=application-x-awk
Name=Launch-Bethesda.sh
Type=Link
URL[$e]=file:///Datos/Games/PC/-Launchers/Bethesda/Wine/Launch-Bethesda.sh
X-KDE-LastOpenedWith=org.kde.kate
