[Desktop Entry]
Icon=application-x-awk
Name=Launch-Origin.sh
Type=Link
URL[$e]=file:///Media/Games/PC/-Launchers/Origin/Wine/Launch-Origin.sh
X-KDE-LastOpenedWith=org.kde.kate
