[Desktop Entry]
Icon=application-x-awk
Name=Launch-Epic_Games.sh
Type=Link
URL[$e]=file:///Datos/Games/PC/-Launchers/Origin/-Library/STAR WARS Battlefront II/Wine/Launch-Epic_Games.sh
X-KDE-LastOpenedWith=alacritty
