[Desktop Entry]
Icon=application-x-awk
Name=Launch-Dyson_Sphere_Program.sh
Type=Link
URL[$e]=file:$HOME/Games/PC/Dyson Sphere Program/Wine/Launch-Dyson_Sphere_Program.sh
X-KDE-LastOpenedWith=alacritty
