[Desktop Entry]
Icon=application-x-awk
Name=Launch_Epic_Games.sh
Type=Link
URL[$e]=file:///Datos/Games/PC/-Launchers/Epic Games/Wine/Launch_Epic_Games.sh
X-KDE-LastOpenedWith=org.kde.kate
