[Desktop Entry]
Icon=application-x-awk
Name=Launch_GOG.sh
Type=Link
URL[$e]=file:///Datos/Games/PC/-Launchers/GOG/Wine/Launch_GOG.sh
X-KDE-LastOpenedWith=org.kde.kate
