[Desktop Entry]
Icon=application-x-awk
Name=Origin.sh
Type=Link
URL[$e]=file:$HOME/Scripts/Bash/Games/Launchers/Origin.sh
X-KDE-LastOpenedWith=org.kde.kate
