[Desktop Entry]
Icon=application-x-awk
Name=pycharm.sh
Type=Link
URL[$e]=file:$HOME/Programas/Pycharm/bin/pycharm.sh
X-KDE-LastOpenedWith=org.kde.kate
