[Desktop Entry]
Icon=text-markdown
Name=README.md
Type=Link
URL[$e]=file:///Media/GoVi/Proyectos/Github/GoVi-Arch_Linux/README.md
X-KDE-LastOpenedWith=org.kde.kate
