[Desktop Entry]
Icon=text-markdown
Name=README.md
Type=Link
URL[$e]=file:$HOME/Scripts/Bash/Games/-Launch-Scripst/README.md
X-KDE-LastOpenedWith=org.kde.kate
