[Desktop Entry]
Icon=application-octet-stream
Name=recheck_entries_youtube
Type=Link
URL[$e]=file:$HOME/.config/polybar/scripts/Logs/YouTube/recheck_entries_youtube
X-KDE-LastOpenedWith=org.kde.kate
