[Desktop Entry]
Icon=text-plain
Name=recheck_entries
Type=Link
URL[$e]=file:$HOME/.config/polybar/scripts/Logs/Games/recheck_entries
X-KDE-LastOpenedWith=org.kde.kate
