[Desktop Entry]
Icon=/home/govi/.cache/favicons/github.com.png
Name=releases.atom
Type=Link
URL[$e]=https://github.com/FeralInteractive/gamemode/releases.atom
X-KDE-LastOpenedWith=net.sourceforge.liferea
