[Desktop Entry]
Icon=application-x-awk
Name=reload_polybar.sh
Type=Link
URL[$e]=file:$HOME/Scripts/Bash/Polybar/reload_polybar.sh
X-KDE-LastOpenedWith=org.kde.kate
