[Desktop Entry]
Icon=application-x-awk
Name=rss_github.sh
Type=Link
URL[$e]=file:$HOME/.config/polybar/scripts/rss_github.sh
X-KDE-LastOpenedWith=org.kde.kate
