[Desktop Entry]
Icon=text-plain
Name=rss_youtube
Type=Link
URL[$e]=file:$HOME/Scripts/Bash/Polybar/Logs/YouTube/rss_youtube
X-KDE-LastOpenedWith=org.kde.kate
