[Desktop Entry]
Icon=application-x-awk
Name=rss_youtube_not.sh
Type=Link
URL[$e]=file:$HOME/.config/polybar/scripts/rss_youtube_not.sh
X-KDE-LastOpenedWith=org.kde.kate
