[Desktop Entry]
Icon=application-x-ms-dos-executable
Name=setup_the_medium_1.0.157_(64bit)_(44436).exe
Type=Link
URL[$e]=file:$HOME/Descargas/The Medium.GOG-InsaneRamZes/setup_the_medium_1.0.157_(64bit)_(44436).exe
X-KDE-LastOpenedWith=wine
