[Desktop Entry]
Icon=application-x-awk
Name=STAR_WARS_Battlefront_II.sh
Type=Link
URL[$e]=file:$HOME/Wine/Scripts/STAR_WARS_Battlefront_II.sh
X-KDE-LastOpenedWith=org.kde.kate
