[Desktop Entry]
Icon=image-svg+xml
Name=text-x-generic.svg
Type=Link
URL[$e]=file:$HOME/Imágenes/GoVi-Theme/Theme Icons/GoVi-Ic/mimetypes/64/text-x-generic.svg
X-KDE-LastOpenedWith=org.inkscape.inkscape
