[Desktop Entry]
Icon=image-svg+xml
Name=text-x-generic.svg
Type=Link
URL[$e]=file:$HOME/Escritorio/text-x-generic.svg
X-KDE-LastOpenedWith=org.inkscape.inkscape
