[Desktop Entry]
Icon=application-x-awk
Name=Uplay.sh
Type=Link
URL[$e]=file:$HOME/Scripts/Bash/Games/Launchers/Uplay.sh
X-KDE-LastOpenedWith=org.kde.kate
