[Desktop Entry]
Name=GoVi-Wi
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=GoVi
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=GoVi-Wi
X-KDE-PluginInfo-Version=1.0
X-KDE-ServiceTypes=KWin/Decoration
X-KWin-Config-TranslationDomain=kwin_clients
Type=Service
