[Desktop Entry]
Name=Adobe Creative Cloud
Exec=env WINEPREFIX="/Datos/Programs/Adobe/Wine/wine-pfx-PS" wine C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\Adobe\\ Creative\\ Cloud.lnk
Type=Application
StartupNotify=true
Icon=B4C6_Creative Cloud.0
StartupWMClass=creative cloud.exe
