[Desktop Entry]
Name=Adobe Creative Cloud
Exec=env WINEPREFIX="/home/govi/Programs/Adobe/Wine/wine-pfx" /usr/bin/wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/govi/Programs/Adobe/Wine/wine-pfx/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/Adobe\\ Creative\\ Cloud.lnk
Type=Application
StartupNotify=true
Icon=CED0_Creative Cloud.0
StartupWMClass=creative cloud.exe
