[Desktop Entry]
Comment[es_ES]=
Comment=
Exec=bash
GenericName[es_ES]=
GenericName=
Icon=application-x-executable-script
MimeType=application/x-shellscript;
Name[es_ES]=bash
Name=bash
NoDisplay=true
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
