[Desktop Entry]
Comment=
Exec=bash -c ~/Scripts/Bash/Games/Launchers/Epic_Games.sh
Icon=09BE_EpicGamesLauncher.0
Name=Epic Games
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
