[Desktop Entry]
Categories=Game;
Comment=Origin
Exec=bash -c ~/Scripts/Bash/Games/Launchers/Origin.sh
GenericName[es_ES]=
GenericName=
Icon=lutris_origin
MimeType=
Name[es_ES]=Origin
Name=Origin
NoDisplay=false
Path[$e]=/Datos/Games/Origin
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
