[Desktop Entry]
Categories=Graphics;2DGraphics;RasterGraphics;GTK;
Comment[es_ES]=Cree im\xc3\xa1genes y edite fotograf\xc3\xadas
Comment=Cree im\xc3\xa1genes y edite fotograf\xc3\xadas
Comment[ar]=\xd8\xa3\xd9\x86\xd8\xb4\xd8\xa6 \xd8\xb5\xd9\x88\xd8\xb1\xd8\xa7 \xd9\x88\xd8\xad\xd8\xb1\xd9\x91\xd8\xb1 \xd9\x84\xd9\x82\xd8\xb7\xd8\xa7\xd8\xaa
Comment[ast]=Cree im\xc3\xa1xenes y edite semeyes
Comment[be]=\xd0\xa1\xd1\x82\xd0\xb2\xd0\xb0\xd1\x80\xd1\x8d\xd0\xbd\xd1\x8c\xd0\xbd\xd0\xb5 \xd0\xb2\xd1\x96\xd0\xb4\xd0\xb0\xd1\x80\xd1\x8b\xd1\x81\xd0\xb0\xd1\x9e \xd1\x96 \xd0\xbf\xd1\x80\xd0\xb0\xd1\x9e\xd0\xbb\xd0\xb5\xd0\xbd\xd1\x8c\xd0\xbd\xd0\xb5 \xd1\x84\xd0\xb0\xd1\x82\xd0\xb0\xd0\xb7\xd0\xb4\xd1\x8b\xd0\xbc\xd0\xba\xd0\xb0\xd1\x9e
Comment[bg]=\xd0\xa1\xd1\x8a\xd0\xb7\xd0\xb4\xd0\xb0\xd0\xb2\xd0\xb0\xd0\xbd\xd0\xb5 \xd0\xbd\xd0\xb0 \xd0\xb8\xd0\xb7\xd0\xbe\xd0\xb1\xd1\x80\xd0\xb0\xd0\xb6\xd0\xb5\xd0\xbd\xd0\xb8\xd1\x8f \xd0\xb8 \xd1\x80\xd0\xb5\xd0\xb4\xd0\xb0\xd0\xba\xd1\x86\xd0\xb8\xd1\x8f \xd0\xbd\xd0\xb0 \xd1\x81\xd0\xbd\xd0\xb8\xd0\xbc\xd0\xba\xd0\xb8
Comment[br]=Kroui\xc3\xb1 hag embann skeudenno\xc3\xb9 pe luc'hskeudenno\xc3\xb9
Comment[bs]=Napravite slike i obradite fotografije
Comment[ca@valencia]=Creeu imatges i editeu fotografies
Comment[ca]=Creeu imatges i editeu fotografies
Comment[cs]=Vytv\xc3\xa1\xc5\x99ejte obr\xc3\xa1zky a upravujte fotografie
Comment[da]=Opret billeder og redig\xc3\xa9r fotografier
Comment[de]=Bilder erstellen und Fotografien bearbeiten
Comment[dz]=\xe0\xbd\x82\xe0\xbd\x9f\xe0\xbd\xb4\xe0\xbd\x82\xe0\xbd\xa6\xe0\xbc\x8b\xe0\xbd\x96\xe0\xbd\xa2\xe0\xbe\x99\xe0\xbd\x93\xe0\xbc\x8b\xe0\xbd\x9a\xe0\xbd\xb4\xe0\xbc\x8b \xe0\xbd\x82\xe0\xbd\xa6\xe0\xbd\xa2\xe0\xbc\x8b\xe0\xbd\x96\xe0\xbd\xa6\xe0\xbe\x90\xe0\xbe\xb2\xe0\xbd\xb4\xe0\xbd\x93\xe0\xbc\x8b\xe0\xbd\xa0\xe0\xbd\x96\xe0\xbd\x91\xe0\xbc\x8b\xe0\xbd\x93\xe0\xbd\xb2\xe0\xbc\x8b\xe0\xbd\x91\xe0\xbd\x84\xe0\xbc\x8b \xe0\xbd\x91\xe0\xbd\x94\xe0\xbd\xa2\xe0\xbc\x8b\xe0\xbd\x9a\xe0\xbd\xb4\xe0\xbc\x8b\xe0\xbd\x9e\xe0\xbd\xb4\xe0\xbd\x93\xe0\xbc\x8b\xe0\xbd\x91\xe0\xbd\x82\xe0\xbc\x8b\xe0\xbd\xa0\xe0\xbd\x96\xe0\xbd\x91\xe0\xbc\x8d
Comment[el]=\xce\x94\xce\xb7\xce\xbc\xce\xb9\xce\xbf\xcf\x85\xcf\x81\xce\xb3\xce\xaf\xce\xb1 \xce\xb5\xce\xb9\xce\xba\xcf\x8c\xce\xbd\xcf\x89\xce\xbd \xce\xba\xce\xb1\xce\xb9 \xce\xb5\xcf\x80\xce\xb5\xce\xbe\xce\xb5\xcf\x81\xce\xb3\xce\xb1\xcf\x83\xce\xaf\xce\xb1 \xcf\x86\xcf\x89\xcf\x84\xce\xbf\xce\xb3\xcf\x81\xce\xb1\xcf\x86\xce\xb9\xcf\x8e\xce\xbd
Comment[en_CA]=Create images and edit photographs
Comment[en_GB]=Create images and edit photographs
Comment[eo]=Krei bildojn a\xc5\xad redakti fota\xc4\xb5ojn
Comment[et]=Joonistamine ja fotode t\xc3\xb6\xc3\xb6tlemine
Comment[eu]=Sortu irudiak eta editatu argazkiak
Comment[fi]=Luo kuvia ja muokkaa valokuvia
Comment[fr]=Cr\xc3\xa9er des images et modifier des photographies
Comment[gd]=Cruthaich dealbhan is deasaich dealbhan camara
Comment[gl]=Crear imaxes e editar fotograf\xc3\xadas
Comment[gu]=\xe0\xaa\x9a\xe0\xaa\xbf\xe0\xaa\xa4\xe0\xab\x8d\xe0\xaa\xb0\xe0\xab\x8b \xe0\xaa\xac\xe0\xaa\xa8\xe0\xaa\xbe\xe0\xaa\xb5\xe0\xab\x8b \xe0\xaa\x85\xe0\xaa\xa8\xe0\xab\x87 \xe0\xaa\xab\xe0\xab\x8b\xe0\xaa\x9f\xe0\xaa\xbe\xe0\xaa\x93\xe0\xaa\xae\xe0\xaa\xbe\xe0\xaa\x82 \xe0\xaa\xab\xe0\xab\x87\xe0\xaa\xb0\xe0\xaa\xab\xe0\xaa\xbe\xe0\xaa\xb0 \xe0\xaa\x95\xe0\xaa\xb0\xe0\xab\x8b
Comment[hr]=Stvarajte slike i ure\xc4\x91ujte fotografije
Comment[hu]=K\xc3\xa9pek l\xc3\xa9trehoz\xc3\xa1sa \xc3\xa9s fot\xc3\xb3k szerkeszt\xc3\xa9se
Comment[id]=Buat gambar dan sunting foto
Comment[is]=B\xc3\xbaa til myndir og breyta lj\xc3\xb3smyndum
Comment[it]=Crea immagini e modifica fotografie
Comment[ja]=\xe7\x94\xbb\xe5\x83\x8f\xe3\x81\xae\xe4\xbd\x9c\xe6\x88\x90\xe3\x81\xa8\xe5\x86\x99\xe7\x9c\x9f\xe3\x81\xae\xe7\xb7\xa8\xe9\x9b\x86\xe3\x82\x92\xe8\xa1\x8c\xe3\x81\x84\xe3\x81\xbe\xe3\x81\x99
Comment[kk]=\xd0\xa1\xd1\x83\xd1\x80\xd0\xb5\xd1\x82\xd1\x82\xd0\xb5\xd1\x80\xd0\xb4\xd1\x96 \xd0\xb6\xd0\xb0\xd1\x81\xd0\xb0\xd1\x83 \xd0\xb6\xd3\x99\xd0\xbd\xd0\xb5 \xd1\x84\xd0\xbe\xd1\x82\xd0\xbe\xd0\xbb\xd0\xb0\xd1\x80\xd0\xb4\xd1\x8b \xd1\x82\xd2\xaf\xd0\xb7\xd0\xb5\xd1\x82\xd1\x83
Comment[km]=\xe1\x9e\x94\xe1\x9e\x84\xe1\x9f\x92\xe1\x9e\x80\xe1\x9e\xbe\xe1\x9e\x8f\xe2\x80\x8b\xe1\x9e\x9a\xe1\x9e\xbc\xe1\x9e\x94\xe1\x9e\x97\xe1\x9e\xb6\xe1\x9e\x96 \xe1\x9e\x93\xe1\x9e\xb7\xe1\x9e\x84 \xe1\x9e\x80\xe1\x9f\x82\xe1\x9e\x9f\xe1\x9e\x98\xe1\x9f\x92\xe1\x9e\x9a\xe1\x9e\xbd\xe1\x9e\x9b\xe2\x80\x8b\xe1\x9e\x9a\xe1\x9e\xbc\xe1\x9e\x94\xe1\x9e\x90\xe1\x9e\x8f
Comment[kn]=\xe0\xb2\x9a\xe0\xb2\xbf\xe0\xb2\xa4\xe0\xb3\x8d\xe0\xb2\xb0\xe0\xb2\x97\xe0\xb2\xb3\xe0\xb2\xa8\xe0\xb3\x8d\xe0\xb2\xa8\xe0\xb3\x81 \xe0\xb2\xb0\xe0\xb2\x9a\xe0\xb2\xbf\xe0\xb2\xb8\xe0\xb2\xbf \xe0\xb2\xb9\xe0\xb2\xbe\xe0\xb2\x97\xe0\xb3\x81 \xe0\xb2\xab\xe0\xb3\x8b\xe0\xb2\x9f\xe0\xb3\x8b\xe0\xb2\x97\xe0\xb3\x8d\xe0\xb2\xb0\xe0\xb2\xbe\xe0\xb2\xab\xe0\xb3\x8d\xe2\x80\x8c\xe0\xb2\x97\xe0\xb2\xb3\xe0\xb2\xa8\xe0\xb3\x8d\xe0\xb2\xa8\xe0\xb3\x81 \xe0\xb2\xb8\xe0\xb2\x82\xe0\xb2\xaa\xe0\xb2\xbe\xe0\xb2\xa6\xe0\xb2\xbf\xe0\xb2\xb8\xe0\xb2\xbf
Comment[ko]=\xec\x9d\xb4\xeb\xaf\xb8\xec\xa7\x80\xeb\xa5\xbc \xeb\xa7\x8c\xeb\x93\xa4\xea\xb3\xa0 \xec\x82\xac\xec\xa7\x84\xec\x9d\x84 \xed\x8e\xb8\xec\xa7\x91\xed\x95\xa9\xeb\x8b\x88\xeb\x8b\xa4
Comment[lt]=Kurti paveiksl\xc4\x97lius ir redaguoti fotografijas
Comment[lv]=Veido att\xc4\x93lus vai redi\xc4\xa3\xc4\x93 fotogr\xc4\x81fijas
Comment[mk]=\xd0\x9d\xd0\xb0\xd0\xbf\xd1\x80\xd0\xb0\xd0\xb2\xd0\xb8 \xd1\x81\xd0\xbb\xd0\xb8\xd0\xba\xd0\xb8 \xd0\xb8 \xd1\x83\xd1\x80\xd0\xb5\xd0\xb4\xd0\xb8 \xd1\x84\xd0\xbe\xd1\x82\xd0\xbe\xd0\xb3\xd1\x80\xd0\xb0\xd1\x84\xd0\xb8\xd0\xb8
Comment[mr]=\xe0\xa4\xaa\xe0\xa5\x8d\xe0\xa4\xb0\xe0\xa4\xa4\xe0\xa4\xbf\xe0\xa4\xae\xe0\xa4\xbe \xe0\xa4\xa4\xe0\xa4\xaf\xe0\xa4\xbe\xe0\xa4\xb0 \xe0\xa4\x95\xe0\xa4\xb0\xe0\xa4\xbe \xe0\xa4\x86\xe0\xa4\xa3\xe0\xa4\xbf \xe0\xa4\x9b\xe0\xa4\xbe\xe0\xa4\xaf\xe0\xa4\xbe\xe0\xa4\x9a\xe0\xa4\xbf\xe0\xa4\xa4\xe0\xa5\x8d\xe0\xa4\xb0\xe0\xa5\x87 \xe0\xa4\xb8\xe0\xa4\x82\xe0\xa4\xaa\xe0\xa4\xbe\xe0\xa4\xa6\xe0\xa4\xbf\xe0\xa4\xa4 \xe0\xa4\x95\xe0\xa4\xb0\xe0\xa4\xbe
Comment[my]=\xe1\x80\x9b\xe1\x80\xaf\xe1\x80\x95\xe1\x80\xba\xe1\x80\x95\xe1\x80\xaf\xe1\x80\xb6\xe1\x80\x99\xe1\x80\xbb\xe1\x80\xac\xe1\x80\xb8\xe1\x80\x80\xe1\x80\xad\xe1\x80\xaf \xe1\x80\x96\xe1\x80\x94\xe1\x80\xba\xe1\x80\x90\xe1\x80\xae\xe1\x80\xb8\xe1\x80\x95\xe1\x80\xbc\xe1\x80\xae\xe1\x80\xb8 \xe1\x80\x93\xe1\x80\xab\xe1\x80\x90\xe1\x80\xba\xe1\x80\x95\xe1\x80\xaf\xe1\x80\xb6\xe1\x80\x99\xe1\x80\xbb\xe1\x80\xac\xe1\x80\xb8\xe1\x80\x80\xe1\x80\xad\xe1\x80\xaf \xe1\x80\x90\xe1\x80\x8a\xe1\x80\xba\xe1\x80\xb8\xe1\x80\x96\xe1\x80\xbc\xe1\x80\x90\xe1\x80\xba\xe1\x80\x95\xe1\x80\xab
Comment[nb]=Lag bilder og rediger fotografier
Comment[ne]=\xe0\xa4\x9b\xe0\xa4\xb5\xe0\xa4\xbf \xe0\xa4\xb8\xe0\xa4\xbf\xe0\xa4\xb0\xe0\xa5\x8d\xe0\xa4\x9c\xe0\xa4\xa8\xe0\xa4\xbe \xe0\xa4\x97\xe0\xa4\xb0\xe0\xa5\x8d\xe0\xa4\xa8\xe0\xa5\x81\xe0\xa4\xb9\xe0\xa5\x8b\xe0\xa4\xb8\xe0\xa5\x8d \xe0\xa4\xb0 \xe0\xa4\xab\xe0\xa5\x8b\xe0\xa4\x9f\xe0\xa5\x8b\xe0\xa4\x97\xe0\xa5\x8d\xe0\xa4\xb0\xe0\xa4\xbe\xe0\xa4\xab \xe0\xa4\xb8\xe0\xa4\xae\xe0\xa5\x8d\xe0\xa4\xaa\xe0\xa4\xbe\xe0\xa4\xa6\xe0\xa4\xa8 \xe0\xa4\x97\xe0\xa4\xb0\xe0\xa5\x8d\xe0\xa4\xa8\xe0\xa5\x81\xe0\xa4\xb9\xe0\xa5\x8b\xe0\xa4\xb8\xe0\xa5\x8d
Comment[nl]=Afbeeldingen of foto\xe2\x80\x99s aanmaken en bewerken
Comment[nn]=Lag teikningar eller rediger foto
Comment[oc]=Crear d'imatges e modificar de fotografias
Comment[pa]=\xe0\xa8\x9a\xe0\xa8\xbf\xe0\xa9\xb1\xe0\xa8\xa4\xe0\xa8\xb0 \xe0\xa8\xac\xe0\xa8\xa3\xe0\xa8\xbe\xe0\xa8\x93 \xe0\xa8\x85\xe0\xa8\xa4\xe0\xa9\x87 \xe0\xa8\xa4\xe0\xa8\xb8\xe0\xa8\xb5\xe0\xa9\x80\xe0\xa8\xb0\xe0\xa8\xbe\xe0\xa8\x82 \xe0\xa8\xb8\xe0\xa9\x8b\xe0\xa8\xa7\xe0\xa9\x8b
Comment[pl]=Tworzenie oraz obr\xc3\xb3bka obraz\xc3\xb3w i\xc2\xa0fotografii
Comment[pt]=Criar imagens e editar fotografias
Comment[pt_BR]=Crie e edite imagens ou fotografias
Comment[ro]=Creeaz\xc4\x83 imagini \xc8\x99i editeaz\xc4\x83 fotografii
Comment[ru]=\xd0\xa1\xd0\xbe\xd0\xb7\xd0\xb4\xd0\xb0\xd0\xbd\xd0\xb8\xd0\xb5 \xd0\xb8\xd0\xb7\xd0\xbe\xd0\xb1\xd1\x80\xd0\xb0\xd0\xb6\xd0\xb5\xd0\xbd\xd0\xb8\xd0\xb9 \xd0\xb8 \xd1\x80\xd0\xb5\xd0\xb4\xd0\xb0\xd0\xba\xd1\x82\xd0\xb8\xd1\x80\xd0\xbe\xd0\xb2\xd0\xb0\xd0\xbd\xd0\xb8\xd0\xb5 \xd1\x84\xd0\xbe\xd1\x82\xd0\xbe\xd0\xb3\xd1\x80\xd0\xb0\xd1\x84\xd0\xb8\xd0\xb9
Comment[sk]=Vytv\xc3\xa1rajte a upravujte obr\xc3\xa1zky alebo fotografie
Comment[sl]=Ustvari slike in uredi fotografije
Comment[sr@latin]=Napravite slike i uredite fotografije
Comment[sr]=\xd0\x9d\xd0\xb0\xd0\xbf\xd1\x80\xd0\xb0\xd0\xb2\xd0\xb8\xd1\x82\xd0\xb5 \xd0\xbd\xd0\xbe\xd0\xb2\xd0\xb5 \xd1\x81\xd0\xbb\xd0\xb8\xd1\x87\xd0\xb8\xd1\x86\xd0\xb5 \xd0\xb8 \xd1\x81\xd1\x80\xd0\xb5\xd0\xb4\xd0\xb8\xd1\x82\xd0\xb5 \xd0\xb2\xd0\xb0\xd1\x88\xd0\xb5 \xd1\x84\xd0\xbe\xd1\x82\xd0\xbe\xd0\xb3\xd1\x80\xd0\xb0\xd1\x84\xd0\xb8\xd1\x98\xd0\xb5
Comment[sv]=Skapa bilder och redigera fotografier
Comment[ta]=\xe0\xae\xaa\xe0\xae\xbf\xe0\xae\xae\xe0\xaf\x8d\xe0\xae\xaa\xe0\xae\x99\xe0\xaf\x8d\xe0\xae\x95\xe0\xae\xb3\xe0\xaf\x88 \xe0\xae\x89\xe0\xae\xb0\xe0\xaf\x81\xe0\xae\xb5\xe0\xae\xbe\xe0\xae\x95\xe0\xaf\x8d\xe0\xae\x95\xe0\xae\xb5\xe0\xaf\x81\xe0\xae\xae\xe0\xaf\x8d \xe0\xae\xae\xe0\xae\xb1\xe0\xaf\x8d\xe0\xae\xb1\xe0\xaf\x81\xe0\xae\xae\xe0\xaf\x8d \xe0\xae\xaa\xe0\xae\x9f\xe0\xae\x99\xe0\xaf\x8d\xe0\xae\x95\xe0\xae\xb3\xe0\xaf\x88 \xe0\xae\xa4\xe0\xae\xbf\xe0\xae\xb0\xe0\xaf\x81\xe0\xae\xa4\xe0\xaf\x8d\xe0\xae\xa4\xe0\xae\xb5\xe0\xaf\x81\xe0\xae\xae\xe0\xaf\x8d
Comment[te]=\xe0\xb0\xac\xe0\xb1\x8a\xe0\xb0\xae\xe0\xb1\x8d\xe0\xb0\xae\xe0\xb0\xb2\xe0\xb0\xa8\xe0\xb1\x81 \xe0\xb0\xb8\xe0\xb1\x83\xe0\xb0\xb7\xe0\xb1\x8d\xe0\xb0\x9f\xe0\xb0\xbf\xe0\xb0\x82\xe0\xb0\x9a\xe0\xb1\x81 \xe0\xb0\xae\xe0\xb0\xb0\xe0\xb0\xbf\xe0\xb0\xaf\xe0\xb1\x81 \xe0\xb0\x9a\xe0\xb0\xbf\xe0\xb0\xa4\xe0\xb1\x8d\xe0\xb0\xb0\xe0\xb0\xbe\xe0\xb0\xb2\xe0\xb0\xa8\xe0\xb1\x81 \xe0\xb0\xb8\xe0\xb0\xb5\xe0\xb0\xb0\xe0\xb0\xbf\xe0\xb0\x82\xe0\xb0\x9a\xe0\xb1\x81
Comment[tr]=G\xc3\xb6r\xc3\xbcnt\xc3\xbc olu\xc5\x9fturur ve foto\xc4\x9fraf d\xc3\xbczenler
Comment[uk]=\xd0\xa1\xd1\x82\xd0\xb2\xd0\xbe\xd1\x80\xd0\xb5\xd0\xbd\xd0\xbd\xd1\x8f \xd0\xb7\xd0\xbe\xd0\xb1\xd1\x80\xd0\xb0\xd0\xb6\xd0\xb5\xd0\xbd\xd1\x8c \xd1\x82\xd0\xb0 \xd1\x80\xd0\xb5\xd0\xb4\xd0\xb0\xd0\xb3\xd1\x83\xd0\xb2\xd0\xb0\xd0\xbd\xd0\xbd\xd1\x8f \xd1\x84\xd0\xbe\xd1\x82\xd0\xbe\xd0\xb3\xd1\x80\xd0\xb0\xd1\x84\xd1\x96\xd0\xb9
Comment[vi]=T\xe1\xba\xa1o v\xc3\xa0 bi\xc3\xaan so\xe1\xba\xa1n \xe1\xba\xa3nh hay \xe1\xba\xa3nh ch\xe1\xbb\xa5p
Comment[zh_CN]=\xe5\x88\x9b\xe5\xbb\xba\xe5\x9b\xbe\xe5\x83\x8f\xe6\x88\x96\xe7\xbc\x96\xe8\xbe\x91\xe7\x85\xa7\xe7\x89\x87
Comment[zh_HK]=\xe5\xbb\xba\xe7\xab\x8b\xe5\x9c\x96\xe5\x83\x8f\xe8\x88\x87\xe7\xb7\xa8\xe8\xbc\xaf\xe7\x85\xa7\xe7\x89\x87
Comment[zh_TW]=\xe5\xbb\xba\xe7\xab\x8b\xe5\x9c\x96\xe5\x83\x8f\xe8\x88\x87\xe7\xb7\xa8\xe8\xbc\xaf\xe7\x85\xa7\xe7\x89\x87
Exec=gimp-2.10 %U
GenericName[es_ES]=Editor de imagen
GenericName=Editor de imagen
GenericName[ar]=\xd9\x85\xd8\xad\xd8\xb1\xd8\xb1 \xd8\xb5\xd9\x88\xd8\xb1
GenericName[ast]=Editor d'imaxe
GenericName[be]=\xd0\xa0\xd1\x8d\xd0\xb4\xd0\xb0\xd0\xba\xd1\x82\xd0\xb0\xd1\x80 \xd0\xb2\xd1\x96\xd0\xb4\xd0\xb0\xd1\x80\xd1\x8b\xd1\x81\xd0\xb0\xd1\x9e
GenericName[bg]=\xd0\xa0\xd0\xb5\xd0\xb4\xd0\xb0\xd0\xba\xd1\x82\xd0\xbe\xd1\x80 \xd0\xbd\xd0\xb0 \xd0\xb8\xd0\xb7\xd0\xbe\xd0\xb1\xd1\x80\xd0\xb0\xd0\xb6\xd0\xb5\xd0\xbd\xd0\xb8\xd1\x8f
GenericName[br]=Embanner skeudenno\xc3\xb9
GenericName[bs]=Obrada slika
GenericName[ca@valencia]=Editor d'imatges
GenericName[ca]=Editor d'imatges
GenericName[cs]=Editor obr\xc3\xa1zk\xc5\xaf
GenericName[da]=Billedredigering
GenericName[de]=Bildeditor
GenericName[dz]=\xe0\xbd\x82\xe0\xbd\x9f\xe0\xbd\xb4\xe0\xbd\x82\xe0\xbd\xa6\xe0\xbc\x8b\xe0\xbd\x96\xe0\xbd\xa2\xe0\xbe\x99\xe0\xbd\x93\xe0\xbc\x8b \xe0\xbd\x9e\xe0\xbd\xb4\xe0\xbd\x93\xe0\xbc\x8b\xe0\xbd\x91\xe0\xbd\x82\xe0\xbc\x8b\xe0\xbd\x94\xe0\xbc\x8d
GenericName[el]=\xce\x95\xcf\x80\xce\xb5\xce\xbe\xce\xb5\xcf\x81\xce\xb3\xce\xb1\xcf\x83\xcf\x84\xce\xae\xcf\x82 \xce\xb5\xce\xb9\xce\xba\xcf\x8c\xce\xbd\xcf\x89\xce\xbd
GenericName[en_CA]=Image Editor
GenericName[en_GB]=Image Editor
GenericName[eo]=Bildredaktilo
GenericName[et]=Pildiredaktor
GenericName[eu]=Irudi-editorea
GenericName[fa]=\xd9\x88\xdb\x8c\xd8\xb1\xd8\xa7\xdb\x8c\xd8\xb4\xda\xaf\xd8\xb1 \xd8\xaa\xd8\xb5\xd9\x88\xdb\x8c\xd8\xb1
GenericName[fi]=Kuvank\xc3\xa4sittely
GenericName[fr]=\xc3\x89diteur d\xe2\x80\x99image
GenericName[gd]=Deasaiche dhealbhan
GenericName[gl]=Editor de imaxes
GenericName[gu]=\xe0\xaa\x9a\xe0\xaa\xbf\xe0\xaa\xa4\xe0\xab\x8d\xe0\xaa\xb0 \xe0\xaa\xb8\xe0\xaa\x82\xe0\xaa\xaa\xe0\xaa\xbe\xe0\xaa\xa6\xe0\xaa\x95
GenericName[hr]=Ure\xc4\x91iva\xc4\x8d slika
GenericName[hu]=K\xc3\xa9pszerkeszt\xc5\x91
GenericName[id]=Penyunting Gambar
GenericName[is]=Myndvinnsluforrit
GenericName[it]=Modifica immagine
GenericName[ja]=\xe7\x94\xbb\xe5\x83\x8f\xe3\x82\xa8\xe3\x83\x87\xe3\x82\xa3\xe3\x82\xbf\xe3\x83\xbc
GenericName[ka]=\xe1\x83\x92\xe1\x83\x90\xe1\x83\x9b\xe1\x83\x9d\xe1\x83\xa1\xe1\x83\x90\xe1\x83\xae\xe1\x83\xa3\xe1\x83\x9a\xe1\x83\x94\xe1\x83\x91\xe1\x83\x94\xe1\x83\x91\xe1\x83\x98\xe1\x83\xa1 \xe1\x83\xa0\xe1\x83\x94\xe1\x83\x93\xe1\x83\x90\xe1\x83\xa5\xe1\x83\xa2\xe1\x83\x9d\xe1\x83\xa0\xe1\x83\x98
GenericName[kk]=\xd0\xa1\xd1\x83\xd1\x80\xd0\xb5\xd1\x82\xd1\x82\xd0\xb5\xd1\x80\xd0\xb4\xd1\x96 \xd3\xa9\xd2\xa3\xd0\xb4\xd0\xb5\xd1\x83 \xd2\x9b\xd0\xbe\xd0\xbb\xd0\xb4\xd0\xb0\xd0\xbd\xd0\xb1\xd0\xb0\xd1\x81\xd1\x8b
GenericName[km]=\xe1\x9e\x80\xe1\x9e\x98\xe1\x9f\x92\xe1\x9e\x98\xe1\x9e\x9c\xe1\x9e\xb7\xe1\x9e\x92\xe1\x9e\xb8\xe2\x80\x8b\xe1\x9e\x93\xe1\x9e\xb7\xe1\x9e\x96\xe1\x9e\x93\xe1\x9f\x92\xe1\x9e\x92\xe2\x80\x8b\xe1\x9e\x9a\xe1\x9e\xbc\xe1\x9e\x94\xe1\x9e\x97\xe1\x9e\xb6\xe1\x9e\x96
GenericName[kn]=\xe0\xb2\x9a\xe0\xb2\xbf\xe0\xb2\xa4\xe0\xb3\x8d\xe0\xb2\xb0 \xe0\xb2\xb8\xe0\xb2\x82\xe0\xb2\xaa\xe0\xb2\xbe\xe0\xb2\xa6\xe0\xb2\x95
GenericName[ko]=\xec\x9d\xb4\xeb\xaf\xb8\xec\xa7\x80 \xed\x8e\xb8\xec\xa7\x91\xea\xb8\xb0
GenericName[ky]=\xd0\xa1\xd2\xaf\xd1\x80\xd3\xa9\xd1\x82 \xd1\x80\xd0\xb5\xd0\xb4\xd0\xb0\xd0\xba\xd1\x82\xd0\xbe\xd1\x80\xd1\x83
GenericName[lt]=Paveiksl\xc4\x97li\xc5\xb3 rengykl\xc4\x97
GenericName[lv]=Att\xc4\x93lu redaktors
GenericName[mk]=\xd0\xa3\xd1\x80\xd0\xb5\xd0\xb4\xd0\xbd\xd0\xb8\xd0\xba \xd0\xb7\xd0\xb0 \xd1\x81\xd0\xbb\xd0\xb8\xd0\xba\xd0\xb8
GenericName[mr]=\xe0\xa4\xaa\xe0\xa5\x8d\xe0\xa4\xb0\xe0\xa4\xa4\xe0\xa4\xbf\xe0\xa4\xae\xe0\xa4\xbe \xe0\xa4\xb8\xe0\xa4\x82\xe0\xa4\xaa\xe0\xa4\xbe\xe0\xa4\xa6\xe0\xa4\x95
GenericName[my]=\xe1\x80\x9b\xe1\x80\xaf\xe1\x80\x95\xe1\x80\xba\xe1\x80\x95\xe1\x80\xaf\xe1\x80\xb6 \xe1\x80\x90\xe1\x80\x8a\xe1\x80\xba\xe1\x80\xb8\xe1\x80\x96\xe1\x80\xbc\xe1\x80\x90\xe1\x80\xba\xe1\x80\x80\xe1\x80\xad\xe1\x80\x9b\xe1\x80\xad\xe1\x80\x9a\xe1\x80\xac
GenericName[nb]=Bildebehandler
GenericName[nds]=Billbewarker
GenericName[ne]=\xe0\xa4\x9b\xe0\xa4\xb5\xe0\xa4\xbf \xe0\xa4\xb8\xe0\xa4\xae\xe0\xa5\x8d\xe0\xa4\xaa\xe0\xa4\xbe\xe0\xa4\xa6\xe0\xa4\x95
GenericName[nl]=Editor Afbeeldingen
GenericName[nn]=Bilethandterar
GenericName[oc]=Editor d'imatge
GenericName[pa]=\xe0\xa8\x9a\xe0\xa8\xbf\xe0\xa9\xb1\xe0\xa8\xa4\xe0\xa8\xb0 \xe0\xa8\x90\xe0\xa8\xa1\xe0\xa9\x80\xe0\xa8\x9f\xe0\xa8\xb0
GenericName[pl]=Edytor obraz\xc3\xb3w
GenericName[pt]=Editor de imagens
GenericName[pt_BR]=Editor de imagens
GenericName[ro]=Editor de imagini
GenericName[ru]=\xd0\xa0\xd0\xb5\xd0\xb4\xd0\xb0\xd0\xba\xd1\x82\xd0\xbe\xd1\x80 \xd0\xb8\xd0\xb7\xd0\xbe\xd0\xb1\xd1\x80\xd0\xb0\xd0\xb6\xd0\xb5\xd0\xbd\xd0\xb8\xd0\xb9
GenericName[sk]=Editor obr\xc3\xa1zkov
GenericName[sl]=Urejevalnik slik
GenericName[sr@latin]=Obrada slika
GenericName[sr]=\xd0\x9e\xd0\xb1\xd1\x80\xd0\xb0\xd0\xb4\xd0\xb0 \xd1\x84\xd0\xbe\xd1\x82\xd0\xbe\xd0\xb3\xd1\x80\xd0\xb0\xd1\x84\xd0\xb8\xd1\x98\xd0\xb0
GenericName[sv]=Bildredigerare
GenericName[ta]=\xe0\xae\xaa\xe0\xae\xbf\xe0\xae\xae\xe0\xaf\x8d\xe0\xae\xaa \xe0\xae\xa4\xe0\xae\xbf\xe0\xae\xb0\xe0\xaf\x81\xe0\xae\xa4\xe0\xaf\x8d\xe0\xae\xa4\xe0\xae\xbf
GenericName[te]=\xe0\xb0\xac\xe0\xb1\x8a\xe0\xb0\xae\xe0\xb1\x8d\xe0\xb0\xae \xe0\xb0\x95\xe0\xb1\x82\xe0\xb0\xb0\xe0\xb1\x8d\xe0\xb0\xaa\xe0\xb0\x95\xe0\xb0\xae\xe0\xb1\x81
GenericName[th]=\xe0\xb9\x80\xe0\xb8\x84\xe0\xb8\xa3\xe0\xb8\xb7\xe0\xb9\x88\xe0\xb8\xad\xe0\xb8\x87\xe0\xb8\xa1\xe0\xb8\xb7\xe0\xb8\xad\xe0\xb9\x81\xe0\xb8\x81\xe0\xb9\x89\xe0\xb9\x84\xe0\xb8\x82\xe0\xb8\xa0\xe0\xb8\xb2\xe0\xb8\x9e
GenericName[tr]=G\xc3\xb6r\xc3\xbcnt\xc3\xbc D\xc3\xbczenleyici
GenericName[tt]=S\xc3\xbcr\xc3\xa4t T\xc3\xb6z\xc3\xa4tke\xc3\xa7
GenericName[uk]=\xd0\xa0\xd0\xb5\xd0\xb4\xd0\xb0\xd0\xba\xd1\x82\xd0\xbe\xd1\x80 \xd0\xb7\xd0\xbe\xd0\xb1\xd1\x80\xd0\xb0\xd0\xb6\xd0\xb5\xd0\xbd\xd1\x8c
GenericName[vi]=B\xe1\xbb\x99 bi\xc3\xaan so\xe1\xba\xa1n \xe1\xba\xa3nh
GenericName[xh]=UmHleli woMfanekiso
GenericName[zh_CN]=\xe5\x9b\xbe\xe5\x83\x8f\xe7\xbc\x96\xe8\xbe\x91\xe5\x99\xa8
GenericName[zh_HK]=\xe5\x9c\x96\xe7\x89\x87\xe7\xb7\xa8\xe8\xbc\xaf\xe5\x99\xa8
GenericName[zh_TW]=\xe5\xbd\xb1\xe5\x83\x8f\xe7\xb7\xa8\xe8\xbc\xaf\xe5\x99\xa8
Icon=gimp
Keywords[es_ES]=GIMP;gr\xc3\xa1fico;dise\xc3\xb1o;ilustraci\xc3\xb3n;dibujo;
Keywords=GIMP;graphic;design;illustration;painting;
Keywords[ar]=GIMP;graphic;design;illustration;painting;
Keywords[ca@valencia]=GIMP;gr\xc3\xa0fic;disseny;il\xc2\xb7lustraci\xc3\xb3;pintura;
Keywords[ca]=GIMP;gr\xc3\xa0fics;disseny;il\xc2\xb7lustraci\xc3\xb3;dibuix;
Keywords[da]=GIMP;grafisk;design;illustration;male;tegne;
Keywords[de]=GIMP;Grafik;Design;Illustration;Malen;
Keywords[el]=GIMP;\xce\xb3\xcf\x81\xce\xb1\xcf\x86\xce\xb9\xce\xba\xcf\x8c;\xcf\x83\xcf\x87\xce\xb5\xce\xb4\xce\xaf\xce\xb1\xcf\x83\xce\xb7;\xce\xb5\xcf\x80\xce\xb5\xce\xbe\xce\xae\xce\xb3\xce\xb7\xcf\x83\xce\xb7;\xce\xb2\xce\xb1\xcf\x86\xce\xae;
Keywords[eu]=GIMP;irudia;diseinua;ilustrazioa;margotzea;
Keywords[fi]=GIMP;grafiikka;maalaus;suunnittelu;valokuva;kuva;
Keywords[fr]=GIMP;graphisme;conception;design;illustration;image;peinture;
Keywords[gl]=GIMP;gr\xc3\xa1fico;dese\xc3\xb1o;ilustraci\xc3\xb3n;debuxo;
Keywords[hr]=GIMP;grafika;dizajn;ilustrcija;slikanje;
Keywords[hu]=GIMP;grafika;diz\xc3\xa1jn;tervez\xc3\xa9s;illusztr\xc3\xa1ci\xc3\xb3;fest\xc3\xa9s;
Keywords[is]=GIMP;mynd;h\xc3\xb6nnun;myndskreyting;m\xc3\xa1lun;myndvinnsla;
Keywords[it]=GIMP;grafica;design;illustrazioni;disegno;fotoritocco;
Keywords[lv]=GIMP;grafika;dizains;ilustr\xc4\x81cija;glezna;
Keywords[mr]=\xe0\xa4\x97\xe0\xa4\xbf\xe0\xa4\xae\xe0\xa5\x8d\xe0\xa4\xaa\xe0\xa4\xb8\xe0\xa4\xbe\xe0\xa4\xa0\xe0\xa5\x80;\xe0\xa4\x97\xe0\xa5\x8d\xe0\xa4\xb0\xe0\xa4\xbe\xe0\xa4\xab\xe0\xa4\xbf\xe0\xa4\x95\xe0\xa5\x8d\xe0\xa4\xb8;\xe0\xa4\xb0\xe0\xa4\x9a\xe0\xa4\xa8\xe0\xa4\xbe;\xe0\xa4\x89\xe0\xa4\xa6\xe0\xa4\xbe\xe0\xa4\xb9\xe0\xa4\xb0\xe0\xa4\xa3;\xe0\xa4\x9a\xe0\xa4\xbf\xe0\xa4\xa4\xe0\xa5\x8d\xe0\xa4\xb0\xe0\xa4\x95\xe0\xa4\xb2\xe0\xa4\xbe
Keywords[nl]=GIMP;grafisch;ontwerp;illustratie;tekenen;
Keywords[pl]=GIMP;grafika;graficzny;design;dizajn;projektowanie;wzornictwo;ilustracja;ilustrowanie;rysunek;rysowanie;rysownictwo;malowanie;malarstwo;obrazy;obrazki;fotografia;zdj\xc4\x99cia;retuszowanie;renderowanie;wtyczki;
Keywords[pt]=GIMP;gr\xc3\xa1ficos;design;desenho;ilustra\xc3\xa7\xc3\xa3o;pintura;
Keywords[pt_BR]=GIMP;gr\xc3\xa1ficos;design;ilustra\xc3\xa7\xc3\xa3o;pintura;
Keywords[ru]=GIMP;\xd0\xb3\xd1\x80\xd0\xb0\xd1\x84\xd0\xb8\xd0\xba\xd0\xb0;\xd0\xb4\xd0\xb8\xd0\xb7\xd0\xb0\xd0\xb9\xd0\xbd;\xd0\xb8\xd0\xbb\xd0\xbb\xd1\x8e\xd1\x81\xd1\x82\xd1\x80\xd0\xb0\xd1\x86\xd0\xb8\xd1\x8f;\xd1\x80\xd0\xb8\xd1\x81\xd0\xbe\xd0\xb2\xd0\xb0\xd0\xbd\xd0\xb8\xd0\xb5;
Keywords[sk]=GIMP;grafika;grafick\xc3\xbd;n\xc3\xa1vrh;dizajn;ilustr\xc3\xa1cia;kresba;ma\xc4\xbeovanie;ma\xc4\xbeba;
Keywords[sl]=GIMP;grafika;oblikovanje;ilustracija;slikanje;
Keywords[sr]=\xd0\x93\xd0\xb8\xd0\xbc\xd0\xbf;\xd0\xbe\xd0\xb1\xd1\x80\xd0\xb0\xd0\xb4\xd0\xb0 \xd1\x84\xd0\xbe\xd1\x82\xd0\xbe\xd0\xb3\xd1\x80\xd0\xb0\xd1\x84\xd0\xb8\xd1\x98\xd0\xb0;\xd0\xb3\xd1\x80\xd0\xb0\xd1\x84\xd0\xb8\xd0\xba\xd0\xb0;\xd0\xb4\xd0\xb8\xd0\xb7\xd0\xb0\xd1\x98\xd0\xbd;\xd0\xb8\xd0\xbb\xd1\x83\xd1\x81\xd1\x82\xd1\x80\xd0\xb0\xd1\x86\xd0\xb8\xd1\x98\xd0\xb0;\xd1\x86\xd1\x80\xd1\x82\xd0\xb0\xd1\x9a\xd0\xb5;obrada fotografija;grafika;dizajn;ilustracija;crtanje;GIMP;graphic;design;illustration;painting;
Keywords[sv]=GIMP;grafik;design;illustrera;m\xc3\xa5lning;rita;
Keywords[uk]=GIMP;graphic;design;illustration;painting;\xd0\xb3\xd1\x96\xd0\xbc\xd0\xbf;\xd2\x91\xd1\x96\xd0\xbc\xd0\xbf;\xd0\xb3\xd1\x80\xd0\xb0\xd1\x84\xd1\x96\xd0\xba\xd0\xb0;\xd0\xb4\xd0\xb8\xd0\xb7\xd0\xb0\xd0\xb9\xd0\xbd;\xd1\x96\xd0\xbb\xd1\x8e\xd1\x81\xd1\x82\xd1\x80\xd0\xb0\xd1\x86\xd1\x96\xd1\x97;\xd0\xbc\xd0\xb0\xd0\xbb\xd1\x8e\xd0\xb2\xd0\xb0\xd0\xbd\xd0\xbd\xd1\x8f;
Keywords[zh_CN]=GIMP;\xe5\x9b\xbe\xe5\xbd\xa2;\xe8\xae\xbe\xe8\xae\xa1;\xe7\xbb\x98\xe7\x94\xbb;graphic;design;illustration;painting;
MimeType=image/x-xwindowdump;image/x-xpixmap;image/x-xcursor;image/x-xcf;image/x-xbitmap;image/x-tga;image/x-sgi;image/x-portable-pixmap;image/x-portable-graymap;image/x-portable-bitmap;image/x-portable-anymap;image/x-gimp-pat;image/x-gimp-gih;image/x-gimp-gbr;image/x-exr;image/x-compressed-xcf;image/wmf;image/vnd.zbrush.pcx;image/vnd.microsoft.icon;image/vnd.adobe.photoshop;image/tiff;image/svg+xml;image/png;image/jpeg;image/jp2;image/heif;image/heif;image/gif;image/g3fax;image/fits;image/bmp;application/postscript;application/pdf;
Name[es_ES]=GIMP
Name=GIMP
Name[ar]=\xd8\xa8\xd8\xb1\xd9\x86\xd8\xa7\xd9\x85\xd8\xac \xd8\xac\xd9\x86\xd9\x88 \xd9\x84\xd9\x85\xd8\xb9\xd8\xa7\xd9\x84\xd8\xac\xd8\xa9 \xd8\xa7\xd9\x84\xd8\xb5\xd9\x88\xd8\xb1
Name[ast]=Programa de manipulaci\xc3\xb3n d'Imaxe GNU
Name[be]=GIMP \xe2\x80\x94 \xd0\xbf\xd1\x80\xd0\xb0\xd2\x91\xd1\x80\xd0\xb0\xd0\xbc\xd0\xb0 \xd0\xbf\xd1\x80\xd0\xb0\xd0\xb5\xd0\xba\xd1\x82\xd1\x83 GNU \xd0\xb4\xd0\xbb\xd1\x8f \xd0\xbf\xd1\x80\xd0\xb0\xd1\x86\xd1\x8b \xd0\xb7\xd1\x8c \xd0\xb2\xd1\x96\xd0\xb4\xd0\xb0\xd1\x80\xd1\x8b\xd1\x81\xd0\xb0\xd0\xbc\xd1\x96
Name[bg]=\xd0\xa0\xd0\xb5\xd0\xb4\xd0\xb0\xd0\xba\xd1\x82\xd0\xbe\xd1\x80 \xd0\xbd\xd0\xb0 \xd0\xb8\xd0\xb7\xd0\xbe\xd0\xb1\xd1\x80\xd0\xb0\xd0\xb6\xd0\xb5\xd0\xbd\xd0\xb8\xd1\x8f (GIMP)
Name[br]=Goulev da zornata skeudenno\xc3\xb9 GNU
Name[bs]=Gnuov program za obradu slika (GNU Image Manipulation Program)
Name[ca@valencia]=Programa de retoc d'imatges de GNU
Name[ca]=Programa de retoc d'imatges de GNU
Name[cs]=GNU Image Manipulation Program
Name[csb]=Editora \xc3\xb2br\xc3\xb4z\xc3\xb3w GIMP
Name[da]=GNU Image Manipulation Program
Name[de]=GNU Image Manipulation Program
Name[dz]=\xe0\xbc\x8b\xe0\xbc\x8b\xe0\xbd\xa8\xe0\xbd\xb2\xe0\xbc\x8b\xe0\xbd\x98\xe0\xbd\xba\xe0\xbd\x87\xe0\xbd\xb2\xe0\xbc\x8b\xe0\xbc\x8b\xe0\xbd\x98\xe0\xbc\x8b\xe0\xbd\x93\xe0\xbd\xb4\xe0\xbc\x8b\xe0\xbd\x94\xe0\xbd\xb4\xe0\xbc\x8b\xe0\xbd\xa3\xe0\xbd\xba\xe0\xbc\x8b\xe0\xbd\xa4\xe0\xbd\xb1\xe0\xbd\x93\xe0\xbc\x8b\xe0\xbc\x8b\xe0\xbd\x94\xe0\xbd\xbc\xe0\xbd\xa2\xe0\xbd\xbc\xe0\xbc\x8b\xe0\xbd\x82\xe0\xbd\xa2\xe0\xbd\x98\xe0\xbc\x8d
Name[el]=\xce\xa0\xcf\x81\xcf\x8c\xce\xb3\xcf\x81\xce\xb1\xce\xbc\xce\xbc\xce\xb1 \xce\xb5\xcf\x80\xce\xb5\xce\xbe\xce\xb5\xcf\x81\xce\xb3\xce\xb1\xcf\x83\xce\xaf\xce\xb1\xcf\x82 \xce\xb5\xce\xb9\xce\xba\xcf\x8c\xce\xbd\xcf\x89\xce\xbd GNU
Name[en_CA]=GNU Image Manipulation Program
Name[en_GB]=GNU Image Manipulation Program
Name[eo]=Bildmanipulilo (GIMP = GNU Image Manipulation Program)
Name[et]=GIMP - GNU pildit\xc3\xb6\xc3\xb6tlusprogramm
Name[eu]=GNUren Irudiak Manipulatzeko Programa
Name[fa]=\xd8\xa8\xd8\xb1\xd9\x86\xd8\xa7\xd9\x85\xd9\x87\xd9\x94 \xd8\xb1\xd9\x88\xd8\xaa\xd9\x88\xd8\xb4 \xd8\xaa\xd8\xb5\xd8\xa7\xd9\x88\xdb\x8c\xd8\xb1 \xda\xaf\xd9\x86\xd9\x88
Name[fi]=GIMP-kuvank\xc3\xa4sittely
Name[fr]=\xc3\x89diteur d\xe2\x80\x99image GIMP
Name[gd]=GNU Image Manipulation Program
Name[gl]=Programa de Manipulaci\xc3\xb3n de Imaxes de GNU
Name[gu]=GNU \xe0\xaa\x9a\xe0\xaa\xbf\xe0\xaa\xa4\xe0\xab\x8d\xe0\xaa\xb0 \xe0\xaa\x9c\xe0\xaa\xbe\xe0\xaa\xb3\xe0\xaa\xb5\xe0\xaa\xa3\xe0\xab\x80 \xe0\xaa\x95\xe0\xaa\xbe\xe0\xaa\xb0\xe0\xab\x8d\xe0\xaa\xaf\xe0\xaa\x95\xe0\xab\x8d\xe0\xaa\xb0\xe0\xaa\xae
Name[he]=\xd7\xaa\xd7\x95\xd7\x9b\xd7\xa0\xd7\xaa \xd7\xa2\xd7\x99\xd7\x91\xd7\x95\xd7\x93 \xd7\x94\xd7\xaa\xd7\x9e\xd7\x95\xd7\xa0\xd7\x94 \xd7\xa9\xd7\x9c GNU
Name[hr]=GIMP program za manipulaciju slikama
Name[hu]=A GNU k\xc3\xa9pszerkeszt\xc5\x91 program
Name[id]=GNU Program Manipulasi Gambar
Name[is]=GNU Myndvinnsluforrit
Name[it]=GNU Image Manipulation Program
Name[ja]=GIMP (GNU Image Manipulation Program)
Name[km]=\xe1\x9e\x80\xe1\x9e\x98\xe1\x9f\x92\xe1\x9e\x98\xe1\x9e\x9c\xe1\x9e\xb7\xe1\x9e\x92\xe1\x9e\xb8\xe2\x80\x8b\xe1\x9e\x9a\xe1\x9f\x80\xe1\x9e\x94\xe1\x9e\x85\xe1\x9f\x86\xe2\x80\x8b\xe1\x9e\x9a\xe1\x9e\xbc\xe1\x9e\x94\xe1\x9e\x97\xe1\x9e\xb6\xe1\x9e\x96\xe1\x9e\x9a\xe1\x9e\x94\xe1\x9e\x9f\xe1\x9f\x8b GNU
Name[kn]=GNU \xe0\xb2\x87\xe0\xb2\xae\xe0\xb3\x87\xe0\xb2\x9c\xe0\xb3\x8d \xe0\xb2\xae\xe0\xb3\x8d\xe0\xb2\xaf\xe0\xb2\xbe\xe0\xb2\xa8\xe0\xb2\xbf\xe0\xb2\xaa\xe0\xb3\x81\xe0\xb2\xb2\xe0\xb3\x87\xe0\xb2\xb6\xe0\xb2\xa8\xe0\xb3\x8d \xe0\xb2\xaa\xe0\xb3\x8d\xe0\xb2\xb0\xe0\xb3\x8a\xe0\xb2\x97\xe0\xb3\x8d\xe0\xb2\xb0\xe0\xb2\xbe\xe0\xb2\xae\xe0\xb3\x8d
Name[ko]=\xea\xb7\xb8\xeb\x88\x84 \xec\x9d\xb4\xeb\xaf\xb8\xec\xa7\x80 \xec\xb2\x98\xeb\xa6\xac \xed\x94\x84\xeb\xa1\x9c\xea\xb7\xb8\xeb\x9e\xa8
Name[ky]=GNU Image Manipulation Program
Name[lt]=GNU paveiksl\xc4\x97li\xc5\xb3 manipuliavimo programa
Name[lv]=GNU att\xc4\x93lu apstr\xc4\x81des programma
Name[mk]=\xd0\x93\xd0\x9d\xd0\xa3 \xd0\xbf\xd1\x80\xd0\xbe\xd0\xb3\xd1\x80\xd0\xb0\xd0\xbc\xd0\xb0 \xd0\xb7\xd0\xb0 \xd0\xbc\xd0\xb0\xd0\xbd\xd0\xb8\xd0\xbf\xd1\x83\xd0\xbb\xd0\xb0\xd1\x86\xd0\xb8\xd1\x98\xd0\xb0 \xd1\x81\xd0\xbe \xd1\x81\xd0\xbb\xd0\xb8\xd0\xba\xd0\xb8
Name[ml]=GNU Image Manipulation Program
Name[mr]=\xe0\xa4\x97\xe0\xa4\xbf\xe0\xa4\xae\xe0\xa5\x8d\xe0\xa4\xaa - \xe0\xa4\xae\xe0\xa4\xb0\xe0\xa4\xbe\xe0\xa4\xa0\xe0\xa5\x80
Name[my]=GNU \xe1\x80\x9b\xe1\x80\xaf\xe1\x80\x95\xe1\x80\xba\xe1\x80\x95\xe1\x80\xaf\xe1\x80\xb6 \xe1\x80\x85\xe1\x80\xae\xe1\x80\x99\xe1\x80\xb6\xe1\x80\x80\xe1\x80\xad\xe1\x80\xaf\xe1\x80\x84\xe1\x80\xba\xe1\x80\x90\xe1\x80\xbd\xe1\x80\x9a\xe1\x80\xba\xe1\x80\x9b\xe1\x80\xb1\xe1\x80\xb8 \xe1\x80\x95\xe1\x80\x9b\xe1\x80\xad\xe1\x80\xaf\xe1\x80\x82\xe1\x80\x9b\xe1\x80\x99\xe1\x80\xba
Name[nb]=GNU bildebehandlingsprogram
Name[nds]=GNU Billbewarkenprogramm
Name[ne]=\xe0\xa4\x9c\xe0\xa5\x80 \xe0\xa4\x8f\xe0\xa4\xa8 \xe0\xa4\xaf\xe0\xa5\x82 \xe0\xa4\x9b\xe0\xa4\xb5\xe0\xa4\xbf \xe0\xa4\xaa\xe0\xa4\xb0\xe0\xa4\xbf\xe0\xa4\x9a\xe0\xa4\xbe\xe0\xa4\xb2\xe0\xa4\xa8 \xe0\xa4\x95\xe0\xa4\xbe\xe0\xa4\xb0\xe0\xa5\x8d\xe0\xa4\xaf\xe0\xa4\x95\xe0\xa5\x8d\xe0\xa4\xb0\xe0\xa4\xae
Name[nl]=GNU Image Manipulation Program
Name[nn]=GNU bilethandteringsprogram
Name[oc]=Editor d'imatge GIMP
Name[pa]=\xe0\xa8\x97\xe0\xa8\xa8\xe0\xa9\x82 \xe0\xa8\x88\xe0\xa8\xae\xe0\xa9\x87\xe0\xa8\x9c\xe0\xa8\xbc \xe0\xa8\xae\xe0\xa9\x88\xe0\xa8\xa8\xe0\xa9\x82\xe0\xa8\xaa\xe0\xa8\xb2\xe0\xa9\x87\xe0\xa8\xb8\xe0\xa8\xbc\xe0\xa8\xa8 \xe0\xa8\xaa\xe0\xa8\xb0\xe0\xa9\x8b\xe0\xa8\x97\xe0\xa8\xb0\xe0\xa8\xbe\xe0\xa8\xae
Name[pl]=Edytor obraz\xc3\xb3w GIMP
Name[pt]=Programa de Manipula\xc3\xa7\xc3\xa3o de Imagens GNU
Name[pt_BR]=Programa de manipula\xc3\xa7\xc3\xa3o de imagem do GNU
Name[ro]=GIMP
Name[ru]=GNU Image Manipulation Program
Name[si]=GNU Image Manipulation Program
Name[sk]=GNU program na manipul\xc3\xa1ciu s obr\xc3\xa1zkami
Name[sl]=GIMP \xe2\x80\x93 program GNU za obdelavo slik
Name[sr@latin]=Gnuov program za obradu slika
Name[sr]=\xd0\x93\xd0\xbd\xd1\x83\xd0\xbe\xd0\xb2 \xd0\xbf\xd1\x80\xd0\xbe\xd0\xb3\xd1\x80\xd0\xb0\xd0\xbc \xd0\xb7\xd0\xb0 \xd0\xbe\xd0\xb1\xd1\x80\xd0\xb0\xd0\xb4\xd1\x83 \xd1\x81\xd0\xbb\xd0\xb8\xd0\xba\xd0\xb0
Name[sv]=GNU:s bildmanipuleringsprogram
Name[ta]=\xe0\xae\x95\xe0\xaf\x8d\xe0\xae\xa9\xe0\xaf\x82 \xe0\xae\xaa\xe0\xae\x9f \xe0\xae\x95\xe0\xaf\x88\xe0\xae\xaf\xe0\xae\xbe\xe0\xae\xb3\xe0\xae\xb2\xe0\xaf\x8d \xe0\xae\xa8\xe0\xae\xbf\xe0\xae\xb0\xe0\xae\xb2\xe0\xaf\x8d
Name[te]=\xe0\xb0\x97\xe0\xb1\x8d\xe0\xb0\xa8\xe0\xb1\x82 \xe0\xb0\x87\xe0\xb0\xae\xe0\xb1\x87\xe0\xb0\x9c\xe0\xb1\x8d \xe0\xb0\xae\xe0\xb0\xbe\xe0\xb0\xa8\xe0\xb0\xbf\xe0\xb0\xaa\xe0\xb1\x8d\xe0\xb0\xaf\xe0\xb1\x81\xe0\xb0\xb2\xe0\xb1\x87\xe0\xb0\xb7\xe0\xb0\xa8\xe0\xb1\x8d \xe0\xb0\xaa\xe0\xb1\x8d\xe0\xb0\xb0\xe0\xb1\x8b\xe0\xb0\x97\xe0\xb1\x8d\xe0\xb0\xb0\xe0\xb0\xbe\xe0\xb0\xae\xe0\xb1\x8d
Name[th]=GNU Image Manipulation Program
Name[tr]=GNU G\xc3\xb6r\xc3\xbcnt\xc3\xbc \xc4\xb0\xc5\x9fleme Program\xc4\xb1
Name[tt]=S\xc3\xbcr\xc3\xa4t E\xc5\x9fk\xc3\xa4rt\xc3\xbc\xc3\xa7e GNU-Yas\xc4\xb1l\xc4\xb1m
Name[uk]=GNU Image Manipulation Program
Name[vi]=Ch\xc6\xb0\xc6\xa1ng Tr\xc3\xacnh Thao T\xc3\xa1c \xe1\xba\xa2nh GNU
Name[zh_CN]=GNU \xe5\x9b\xbe\xe5\x83\x8f\xe5\xa4\x84\xe7\x90\x86\xe7\xa8\x8b\xe5\xba\x8f
Name[zh_HK]=GNU \xe5\x9c\x96\xe7\x89\x87\xe8\x99\x95\xe7\x90\x86\xe7\xa8\x8b\xe5\xbc\x8f
Name[zh_TW]=GNU \xe5\xbd\xb1\xe5\x83\x8f\xe8\x99\x95\xe7\x90\x86\xe7\xa8\x8b\xe5\xbc\x8f
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=gimp-2.10
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-OtherBinaries=gimp-2.10
X-GNOME-Bugzilla-Product=GIMP
X-GNOME-Bugzilla-Version=2.10.8
X-KDE-SubstituteUID=false
X-KDE-Username=
