[Desktop Entry]
Categories=Utility;GTK;GNOME;
Comment[es_ES]=Aplicación para la vista previa de archivos de tipos de letra con muchas funciones
Comment=Aplicación para la vista previa de archivos de tipos de letra con muchas funciones
Comment[de]=Voll funktionsfähige Anwendung zur Vorschau von Schriftdateien
Comment[hr]=Program za pregled fontova s mnogim funkcijama
Comment[ru]=Полнофункциональная программа просмотра шрифтов
Comment[sv]=Program för förhandsvisning av teckensnitt
DBusActivatable=true
Exec=/usr/libexec/font-manager/font-viewer %u
GenericName[es_ES]=Visor tipográfico
GenericName=Visor tipográfico
GenericName[ar]=عارض الخطوط
GenericName[ca]=Visualitzador de tipus de lletra
GenericName[de]=Schriften-Betrachter
GenericName[hr]=Preglednik fontova
GenericName[pl]=Przeglądarka czcionek
GenericName[ru]=Программа просмотра шрифтов
GenericName[sv]=Teckensnittsvisare
Icon=preferences-desktop-font
Keywords[es_ES]=Gráficos;Visor;GNOME;GTK;Publicación;
Keywords=Graphics;Viewer;GNOME;GTK;Publishing;
Keywords[de]=Grafik;Betrachter;GNOME;GTK;Publizieren;
Keywords[hr]=Grafike;Preglednik;GNOME;GTK;Publiciranje;
Keywords[ru]=Графика;Просмотр;GNOME;GTK;Издательство;
Keywords[sv]=Grafik;Visare;GNOME;GTK;Publicering;
MimeType=font/ttf;font/ttf;font/otf;font/otf;application/x-font-type1;
Name[es_ES]=Visor tipográfico
Name=Visor tipográfico
Name[ar]=عارض الخطوط
Name[ca]=Visualitzador de tipus de lletra
Name[de]=Schriften-Betrachter
Name[hr]=Preglednik fontova
Name[pl]=Przeglądarka czcionek
Name[ru]=Программа просмотра шрифтов
Name[sv]=Teckensnittsvisare
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
