[Desktop Entry]
Comment=
Exec=~/Scripts/Bash/Utils/Pass.sh
Icon=/home/govi/Imágenes/Icons/System/Png/lock.png
Name=Pass
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
