[Desktop Entry]
Categories=Graphics;
Comment=
Exec=/home/govi/Scripts/Bash/Programs/Photoshop.sh
GenericName=
Icon=FA73_Photoshop.0
MimeType=
Name=Adobe Photoshop
NoDisplay=false
Path[$e]=/Windows/Portables/Adobe/Adobe Photoshop 2020
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
