[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=application/x-wine-extension-vbs;
Exec=env WINEPREFIX="/Media/Games/PC/The Forest/Wine/wine-pfx/" /usr/bin/wine start /ProgIDOpen VBSFile %f
NoDisplay=true
StartupNotify=true
