[Desktop Entry]
Type=Application
Name=Wine Installer
MimeType=application/x-wine-extension-msp;
Exec=env WINEPREFIX="/Datos/Games/PC/-Launchers/Origin/-Library/STAR WARS Battlefront II/Wine/wine-pfx" /home/ubuntu/buildbot/runners/wine/lutris-5.21-2-x86_64/bin/wine start /ProgIDOpen Msi.Patch %f
NoDisplay=true
StartupNotify=true
Icon=2402_msiexec.0
