[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=application/x-wine-extension-vbs;
Exec=env WINEPREFIX="/Datos/Games/PC/-Launchers/Origin/-Library/STAR WARS Battlefront II/Wine/wine-pfx" /home/ubuntu/buildbot/runners/wine/lutris-5.21-2-x86_64/bin/wine start /ProgIDOpen VBSFile %f
NoDisplay=true
StartupNotify=true
