[Desktop Entry]
Type=Application
Name=hh
MimeType=application/vnd.ms-htmlhelp;
Exec=env WINEPREFIX="/home/govi/Scripts/Bash/Games/Create-wine-pfx/wine-pfx" /home/ubuntu/buildbot/runners/wine/lutris-5.21-2-x86_64/bin/wine start /ProgIDOpen chm.file %f
NoDisplay=true
StartupNotify=true
Icon=A35F_hh.0
