[Desktop Entry]
Type=Application
Name=winhlp32
MimeType=application/winhlp;
Exec=env WINEPREFIX="/home/govi/Scripts/Bash/Games/Create-wine-pfx/wine-pfx" /home/ubuntu/buildbot/runners/wine/lutris-5.21-2-x86_64/bin/wine start /ProgIDOpen hlpfile %f
NoDisplay=true
StartupNotify=true
Icon=4137_winhlp32.0
