[Desktop Entry]
Name=Acuerdo de usuario
Exec=env WINEPREFIX="/Datos/Games/PC/-Launchers/Origin/-Library/STAR WARS Battlefront II/Wine/wine-pfx" /usr/bin/wine C:\\\\windows\\\\command\\\\start.exe /Unix /Datos/Games/PC/-Launchers/Origin/-Library/STAR\\ WARS\\ Battlefront\\ II/Wine/wine-pfx/dosdevices/c:/ProgramData/Microsoft/Windows/Start\\ Menu/Programs/STAR\\ WARS\\ Battlefront\\ II/Acuerdo\\ de\\ usuario.lnk
Type=Application
StartupNotify=true
Path=/Datos/Games/PC/-Launchers/Origin/-Library/STAR WARS Battlefront II/Wine/wine-pfx/dosdevices/d:/Games/PC/-Launchers/Origin/-Library/STAR WARS Battlefront II/Support/Acuerdo de usuario
Icon=8FB9_es_ES.0
