[Desktop Action New]
Exec=alacritty
Name=New Terminal

[Desktop Entry]
Actions=New;
Categories=System;TerminalEmulator;
Comment[es_ES]=A cross-platform, GPU enhanced terminal emulator
Comment=A cross-platform, GPU enhanced terminal emulator
Exec=alacritty -e
GenericName[es_ES]=Terminal
GenericName=Terminal
Icon=Alacritty
MimeType=
Name[es_ES]=Alacritty
Name=Alacritty
Path=
StartupNotify=true
StartupWMClass=Alacritty
Terminal=false
TerminalOptions=
TryExec=alacritty
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-Desktop-File-Install-Version=0.24
X-KDE-SubstituteUID=false
X-KDE-Username=
