[Desktop Entry]
Comment=
Exec=bash -c ~/Scripts/Bash/Games/Launchers/Bethesda.sh
Icon=D045_BethesdaNetUpdater.0
Name=Bethesda
NoDisplay=false
Path[$e]=/Datos/Games/Bethesda
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
