[Desktop Entry]
Comment=
Exec=bash -c ~/Scripts/Bash/Games/Emulators/Cemu/Cemu.sh
GenericName=WiiU Emulator
Icon=lutris_cemu
Name=Cemu
NoDisplay=false
Path[$e]=$HOME/Games/PC/-Emulators/Cemu
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
