[Desktop Entry]
Categories=Settings;Accessibility;
Comment=Cambiar configuración de Onboard
Exec=onboard-settings
GenericName[es_ES]=Configuración del teclado en pantalla Onboard
GenericName=Onboard onscreen keyboard settings
Icon=onboard
MimeType=application/x-onboardsettings;
Name[es_ES]=Configuración de Onboard
Name=Onboard Settings
NoDisplay=false
OnlyShowIn=KDE;
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
X-Ubuntu-Gettext-Domain=onboard
