[Desktop Entry]
Name=imwheel
Exec=~/Scripts/Bash/Autostart/imwheel.sh
InitialPreference=1
StartupNotify=true
Terminal=false
Type=Application
X-DBUS-StartupType=unique
X-KDE-StartupNotify=false
X-KDE-SubstituteUID=false

